{% extends 'index.html' %}
{% load url from future %}

<!-- Dialog Box Confirm -->
<div id="dialog-confirm" title="Propose Match?" style="background: #ECF0EC url({{ STATIC_URL}}/images/img01.gif) repeat;">
	<img src="{{ STATIC_URL}}/images/verify.png"/>
</div>

{% block js %}
	<script type='text/javascript'>

		$(document).ready(function(){

			$('#tiles').imagesLoaded(function(){

				// Prepare layout options.
				var options = {
					autoResize: true, // This will auto-update the layout when the browser window is resized.
					container: $('#container'), // Optional, used for some extra CSS styling
					offset: 2, // Optional, the distance between grid items
					itemWidth: 210 // Optional, the width of a grid item
				};

				// Get a reference to your grid items.
				var handler = $('#tiles li.item');

				// Call the layout function.
				handler.wookmark(options);
			});


			$('#prdpdialog a').each(function(){
				
				var $loading = $('<img src="{{ STATIC_URL }}images/loading.gif" alt="loading">');
				var $dialog = $('<div></div>').append($loading.clone());
				var $link = $(this).one('click', function() {

			    	$dialog.load ($link.attr('href')).dialog ({
						
						autoOpen: true,
						closeOnEscape: true,
						title: $link.attr('title'),
						height: "auto",
						modal: true,
						width: 700,
						resizable: false
							
					});
					
					$link.click(function(){

						$dialog.dialog('open');
						return false;
					});
					return false;
				});
			});								

			$.waypoints.settings.scrollThrottle = 30;
			$('#workspace').waypoint(function(event, direction){
				$(this).parent().toggleClass('sticky', direction === "down");
				event.stopPropagation();
			});

			$("#tiles li.item").draggable({ 
				revert: "invalid",
				helper: "clone"
			});

			$(".droppable").droppable({
				/* activeClass: "ui-state-hover", */
				hoverClass: "ui-state-active",
				drop: function (event, ui) {
					moveImage(ui.draggable, $(this));
				}
			});

			$(".droppable").click(function(){

				$(this).css("border-color", "yellow");
				//Grab the Image from the PRDP Candidate and copy it in the Workspace Detail Div.
				//Also, turn on the Workspace Detail Div.
				var img = $("img", this).clone();
				var detail_img = $("#workspace_match_detail").find("img");
				$(detail_img).attr("src", $(img).attr("src"));
				$("#workspace_match_detail").show(); 
			});	


			var $dialog = $("#dialog-confirm").dialog({
				resizable: false,
				autoOpen: false,
				width: 815,
				modal: true,
				buttons: {"Propose Match" : function() {}, "Cancel" : function() {}}
			});

			$("#propose").click(function() {
				$dialog.dialog("open");
			});

			$("#chatacc").accordion({
				collapsible: true,
				active: false,
				autoHeight: false
			});
		});

		/* String formatting - retrieved from: http://stackoverflow.com/questions/1038746/equivalent-of-string-format-in-jquery */
		String.format = function() {
		  var s = arguments[0];
		  for (var i = 0; i < arguments.length - 1; i++) {       
		    var reg = new RegExp("\\{" + i + "\\}", "gm");             
		    s = s.replace(reg, arguments[i + 1]);
		  }
		  return s;
		}

		function moveImage(item, container) {
			var pet_report_img = $("img", item).clone();
			var pet_report_id = $("input", item).clone().attr("value");
			
			var w = container.width();
			var h = container.height();
			pet_report_img.animate({height: h, width: w});
			$(container).html(pet_report_img);
		}

		function propose_match(button){

			var $loading = $('<img src="{{ STATIC_URL }}images/loading.gif" alt="loading">');
			var $dialog = $('<div></div>').append($loading.clone());
			var $link = $(this).one('click', function() {

		    	$dialog.load ($link.attr('href')).dialog ({
					
					autoOpen: true,
					closeOnEscape: true,
					title: $link.attr('title'),
					height: "auto",
					modal: true,
					width: 700,
					resizable: false
						
				});
				
				$link.click(function(){

					$dialog.dialog('open');
					return false;
				});
				return false;
			});			

			alert("PROPOSE MATCH");
		}

		function bookmark_pet(button){
			alert("BOOKMARK PET");
		}

	</script>
{% endblock js %}

{% block head_title %}EPM - Matching {% endblock head_title %}
{% block content_title %} The Matching Interface {% endblock content_title %}

{% block content %}
<p> The matching page allows you to click and drag potential pet reports to the workspace, which contains empty squares to put potential matches onto. To begin, survey the pet reports on the right that have been analyzed and ranked by the system to resemble a match and place them onto the workspace. When you feel that a potential match can be made, click on the "Propose Pet Match" button in the workspace. Good luck matching!</p>

<div id="head">
	<header id="nav">
	<ul>
		<li class="active"><a href="#">Suggested Pets</a></li>
		<li><a href="#">Manual Search</a></li>
	</ul>
	</header>
</div>

<!-- Workspace for Placing Pet Report Candidate Matches-->
<div id="workspace">

	<!-- PRDP Target and Candidates -->
	<div id="prtarget"> 
		<img class='target' src="{{ STATIC_URL }}{{ target_prdp.img_path }}">
		<div class="droppable">
			<div style="text-align:center; padding:5%; margin:20%;">Drag a Pet Report Here</div>
		</div>
	</div>

	<div id="workspace_match_detail">
		<img src=""/>
			<table>
				<tr>
			    	<td><strong> Attribute 1</strong></td>
			    	<td> </td>
				</tr>
				<tr>
			    	<td><strong> Attribute 2</strong></td>
			    	<td> </td>
				</tr>
				<tr>
			    	<td><strong> Attribute 3</strong></td>
			    	<td> </td>
				</tr>
				<tr>
			    	<td><strong> Attribute 4</strong></td>
			    	<td> </td>
				</tr>						
				<tr>
			    	<td><strong> Attribute 5</strong></td>
			    	<td> </td>
				</tr>										
			</table>
	   	<p/> <button value="Propose Match" onclick="propose_match(this);"/>Propose Match </button> 
	   	<button value="Bookmark Pet" onclick="bookmark_pet(this);"/> Bookmark Pet </button> <br/>
	</div>
</div>

<!-- Container for ML-Ranked Pet Reports -->
<div id="container" style="width: 59%; min-width: 300px; float:right;">
	<ul id="tiles">
		{% block pet_reports_content %}
			{% if pet_reports_list %}
				{% for pet_report in pet_reports_list %}
					<li class="item" >
						<input type="hidden" value="{{ pet_report.id }}"/>
						<div id = "prdpdialog">
							<a href= "{% url 'disp_petreport' pet_report.id %}">
								{% if pet_report.pet_name %}
									<strong>{{ pet_report.pet_name }}</strong><br/>
								{% endif %}
								{{ pet_report.status }}: {{ pet_report.pet_type }} <br/>
								Contact : {{  pet_report.proposed_by.user.username }}
								<img src="{{ STATIC_URL }}{{ pet_report.img_path }}"/>
							</a>
						</div>
					</li>	
				{% endfor %}							
			{% else %}
			    <p>No pet reports are available.</p>
			{% endif %}
		{% endblock pet_reports_content %}

		<!-- Pagination -->
		<div class="pagination" align="left">
   			<div class="step-links" id="footer" align="left">
        		{% if pet_reports_list.has_previous %}
           			<a href="?page={{ pet_reports_list.previous_page_number }}">previous</a>
        		{% endif %}
        	</div>	
       		<div class="current" id="footer" align="left">
            	Page {{ pet_reports_list.number }} of {{ pet_reports_list.paginator.num_pages }}.
        	</div>
        	<div class="step-links" id="footer" align="left">	
        		{% if pet_reports_list.has_next %}
            		<a href="?page={{ pet_reports_list.next_page_number }}">next</a>
        		{% endif %}
        	</div>		
    	</div>
	</ul>	
</div> <br style="clear: both;" />
{% endblock content %}

{% block chat %}
{% endblock chat %}
