{% extends 'index.html' %}
{% load url from future %}

<!-- Dialog Box Confirm -->
<div id="dialog-confirm" title="Propose Match?" style="background: #ECF0EC url({{ STATIC_URL}}/images/img01.gif) repeat;">
	<img src="{{ STATIC_URL}}/images/verify.png"/>
</div>

{% block js %}
	<script type='text/javascript'>

		$(document).ready(function(){

			$('#tiles').imagesLoaded(function(){

				// Prepare layout options.
				var options = {
					autoResize: true, // This will auto-update the layout when the browser window is resized.
					container: $('#container'), // Optional, used for some extra CSS styling
					offset: 2, // Optional, the distance between grid items
					itemWidth: 210 // Optional, the width of a grid item
				};

				// Get a reference to your grid items.
				var handler = $('#tiles li.item');

				// Call the layout function.
				handler.wookmark(options);
			});

			$(function() {

				$.waypoints.settings.scrollThrottle = 30;
				$('#workspace').waypoint(function(event, direction){
					$(this).parent().toggleClass('sticky', direction === "down");
					event.stopPropagation();
				});

				$("#tiles li.item").draggable({ 
					revert: "invalid",
					helper: "clone"
				});

				$(".droppable").droppable({
					/* activeClass: "ui-state-hover", */
					hoverClass: "ui-state-active",
					drop: function (event, ui) {
						moveImage(ui.draggable, $(this));
					}
				});

				function moveImage(item, container) {
					var newItem = $("img", item).clone();
					var w = container.width();
					var h = container.height();
					newItem.animate({height: h, width: w});
					$(container).html(newItem);
				}				

				$(".droppable").click(function(){

					var bordercolor = $(this).css("border-color");
					if (bordercolor == "yellow"){
						$(this).css("border-color", "black");	
					}
					else{
						$(this).css("border-color", "yellow");	
						$("#workspace_match_detail").show();
					}					
				});	

				var $dialog = $("#dialog-confirm").dialog({
					resizable: false,
					autoOpen: false,
					width: 815,
					modal: true,
					buttons: {"Propose Match" : function() {}, "Cancel" : function() {}}
				});

				$("#propose").click(function() {
					$dialog.dialog("open");
				});

				$("#chatacc").accordion({
					collapsible: true,
					active: false,
					autoHeight: false
				});

			});
		});

	</script>
{% endblock js %}

{% block head_title %}EPM - Matching {% endblock head_title %}
{% block content_title %} The Matching Interface {% endblock content_title %}

{% block content %}
<p> The matching page allows you to click and drag potential pet reports to the workspace, which contains empty squares to put potential matches onto. To begin, survey the pet reports on the right that have been analyzed and ranked by the system to resemble a match and place them onto the workspace. When you feel that a potential match can be made, click on the "Propose Pet Match" button in the workspace. Good luck matching!</p>

<div id="head">
	<header id="nav">
	<ul>
		<li class="active"><a href="#">Suggested Pets</a></li>
		<li><a href="#">Manual Search</a></li>
	</ul>
	</header>
</div>

<!-- Workspace for Placing Pet Report Candidate Matches-->
<div id="workspace">
	<div id="prtarget">
		<img class='target' src="{{ STATIC_URL }}/images/toto.jpg">
		<div class="droppable">
			<div style="text-align:center; padding:5%; margin:20%;">Drag a Pet Report Here</div> 
		</div>		
	</div>

	<div id="workspace_match_detail">

		<img src="{{ STATIC_URL}}/images/defaults/dog_silhouette.jpg" style="max-width:150px; float:left">
	    <input id="propose" type="button" value="Propose Match" />&nbsp;
	    <input type="button" value="Bookmark Pet" /><br/><br/>

		<div id="working_des" style="float:right; width: 60%;">
	        <span><b>Breed:</b> terrier</span><br/>
	        <span><b>Color:</b> black</span><br/>
	        <span><b>Sex:</b> Male</span><br/>
		</div>
		<span><b>Description:</b> little black dog with long silky hair, small eyes</span>
	</div>
</div>

<!-- Container for ML-Ranked Pet Reports -->
<div id="container" style="width: 59%; float:right;">
	<ul id="tiles">
		{% block pet_reports_content %}
			{% if pet_reports_list %}
				{% for pet_report in pet_reports_list %}
					<li class="item"> 
						{% if pet_report.status %} 
							Lost : {{ pet_report.pet_type }}
						{% else %} 
							Found : {{ pet_report.pet_type }}
						{% endif %} <br/>
						Contact : {{  pet_report.proposed_by.user.username}}
						{% if pet_report.img_path %}
							<img src="{{ STATIC_URL }}{{ pet_report.img_path }}"/>
						{% else %}
							{% ifequal pet_report.pet_type "Dog" %}
								<img src="{{ STATIC_URL }}/images/defaults/dog_silhouette.jpg"/>
							{% endifequal %}
							{% ifequal pet_report.pet_type "Cat" %}
								<img src="{{ STATIC_URL }}/images/defaults/cat_silhouette.jpg"/>
							{% endifequal %}
							{% ifequal pet_report.pet_type "Turtle" %}
								<img src="{{ STATIC_URL }}/images/defaults/turtle_silhouette.jpg"/>
							{% endifequal %}
							{% ifequal pet_report.pet_type "Rabbit" %}
								<img src="{{ STATIC_URL }}/images/defaults/rabbit_silhouette.jpg"/>
							{% endifequal %}
							{% ifequal pet_report.pet_type "Snake" %}
								<img src="{{ STATIC_URL }}/images/defaults/snake_silhouette.jpg"/>
							{% endifequal %}
							{% ifequal pet_report.pet_type "Horse" %}
								<img src="{{ STATIC_URL }}/images/defaults/horse_silhouette.jpg"/>
							{% endifequal %}
							{% ifequal pet_report.pet_type "Other" %}
								OTHER
							{% endifequal %}
						{% endif %}
					</li>
				{% endfor %}
				<!-- Pagination -->
				<div class="pagination" align="left">
		   			<div class="step-links" id="footer" align="left">
		        		{% if pet_reports_list.has_previous %}
		           			<a href="?page={{ pet_reports_list.previous_page_number }}">previous</a>
		        		{% endif %}
		        	</div>	
		       		<div class="current" id="footer" align="left">
		            	Page {{ pet_reports_list.number }} of {{ pet_reports_list.paginator.num_pages }}.
		        	</div>
		        	<div class="step-links" id="footer" align="left">	
		        		{% if pet_reports_list.has_next %}
		            		<a href="?page={{ pet_reports_list.next_page_number }}">next</a>
		        		{% endif %}
		        	</div>		
		    	</div>
			{% else %}
			    <p>No pet reports are available.</p>
			{% endif %}
		{% endblock pet_reports_content %}
	</ul>	
</div> <br style="clear: both;" />
{% endblock content %}

{% block chat %}
{% endblock chat %}
