{% load url from future %} <!-- Need this for forward (future) compatibility with django 1.5 and beyond. -->

<!DOCTYPE html>
<html class = 'no-js' lang = "en">
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}Pet Match Detailed Page-- Hello{% endblock head_title %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- CSS -->
    <!-- EPM Style CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css"></link>
    <!-- Include the JQuery UI Style CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.23.custom.css" type="text/css"></link>
    <!-- Include the Reset CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css"></link>
    
    <!-- Javascript & JQuery -->
    <!-- jquery original source -->
    <script src="{{ STATIC_URL }}js/jquery-1.8.1.min.js" type="text/javascript"></script>
    <!-- jquery UI original source -->
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
    <!-- Include the Browser ID JS plugin -->
    <script src="{{ STATIC_URL }}js/browserid-include.js" type="text/javascript"></script>
    <!-- Include the BlockUI plugin -->
    <script src="{{ STATIC_URL }}js/jquery-blockui.js" type="text/javascript"></script>
    <!-- Include the hoverIntent plug-in -->
    <script src="{{ STATIC_URL }}js/jquery-hoverIntent.js" type="text/javascript"></script>
    <!-- Include the waypoints plug-in -->
    <script src="{{ STATIC_URL }}js/jquery-waypoints.js" type="text/javascript"></script>
    <!-- Include the imagesLoaded plug-in -->
    <script src="{{ STATIC_URL }}js/jquery-imagesloaded.js" type="text/javascript"></script>
    <!-- Include the wookmark plug-in -->
    <script src="{{ STATIC_URL }}js/jquery-wookmark.js" type="text/javascript"></script>

    <!-- General, inheritable JS goes here -->
    <script src = "{{ STATIC_URL }}js/epm.js" type = 'text/javascript'></script>

    {% block js %}
    <!-- Page-specific JS goes in this block -->
    <script src = "{{ STATIC_URL }}js/local/epm-petmatch.js" type = 'text/javascript'></script>
    
    <script type="text/javascript">
        //Must have these django-rendered variables as global javascript variables in order to refer to them!
        var STATIC_URL = "{{ STATIC_URL }}";
        var VOTED = "{{ user_has_voted }}";
        var USER_ID = "{{ user.id }}";
        var PETMATCH_ID = "{{ petmatch.id }}";
        var URL_VOTE_PETMATCH = "{% url 'vote_PetMatch' %}";
        var URL_LOGIN = "Log in <a href={% url 'login_User' %}?next={% firstof request.path '/' %} > here.</a>";    
        var LOST_PETREPORT = convert_to_javascript_obj("{{ petmatch.lost_pet.toJSON }}");
        var FOUND_PETREPORT = convert_to_javascript_obj("{{ petmatch.found_pet.toJSON }}");
        //Setting up parameters for sharing on facebook and twitter
        var PETMATCH_URL = 'http://epm.cs.colorado.edu/matching/PetMatch/{{  petmatch.id }}';
        var PETMATCH_IMAGE = 'http://epm.cs.colorado.edu{{ STATIC_URL }}{{ petmatch.lost_pet.img_path }}';
        var PETMATCH_TITLE = 'A Pet Report Matching at EPM';
        var PETMATCH_CAPTION ='EmergencyPetMatcher';
        var PETMATCH_SUMMARY = 'A {{ petmatch.lost_pet.status }} {{ petmatch.lost_pet.pet_type }} (Named: {{ petmatch.lost_pet.pet_name }}) has been proposed to match a {{ petmatch.found_pet.status }} {{ petmatch.found_pet.pet_type }} through EmergencyPetMatcher Website, a part of Project EPIC at University of Colorado at Boulder.';
    </script>
    {% endblock js %}

  </head>

  <body>

     <!-- Share Buttons -->
      <div id="sharebuttons" style="float:right; margin-bottom:10px; width:100%;"> 
          <div style="float:right; margin:3px 0 0 7px;">
            <font size=-1> Share on: </font></span>
            <a id="facebook_share_pm" title="Share on Facebook" name="fb_share" type="button_count">
            <img src="{{ STATIC_URL }}/images/icons/icn-facebook.png" width="22" height="22" /></a>
            <a id="twitter_share_pm" title="Share on Twitter">
            <img src="{{ STATIC_URL }}/images/icons/icn-twitter.png" width="22" height="22" /></a>   
          </div>
      </div>
        
    <div id="pmdp_back">       

      {% if user_has_voted %}
      <p style = "text-align:center; color:gray; font-size:14pt;"> You have already voted for this PetMatch. </p>
      {% endif %}
      <!-- PMDP Match Container - contains PMDP Images and Attributes -->
      <div id = "pmdp_match_container">

        <!-- Lost PetReport -->
        <div class = "pmdp_pet_container" style="float:left;">

          <!-- Lost PetReport Title -->
          <div id="match_title">
            <div style="float:left"> {% if petmatch.lost_pet.pet_name %} {{ petmatch.lost_pet.pet_name }} {% endif %} </div>
            <div style="float:right"> {{ petmatch.lost_pet.status }} </div>
          </div> <br/>

          <!-- Lost PetReport Image -->
          <img src="{{ STATIC_URL }}{{ petmatch.lost_pet.img_path }}"/>

          <!-- Lost PetReport Info -->
          <ul class="lost_pmdpfields"></ul>

        </div> 
        <!-- End Lost PetReport -->

        <!-- Found PetReport -->
        <div class = "pmdp_pet_container" style ="float:right;">

          <!-- Found PetReport Title -->
          <div id="match_title">
            <div style="float:left"> {% if petmatch.found_pet.pet_name %} {{ petmatch.found_pet.pet_name }} {% endif %} </div>
            <div style="float:right"> {{ petmatch.found_pet.status }} </div>
          </div> <br/>

          <!-- Found PetReport Image -->
          <img src="{{ STATIC_URL }}{{ petmatch.found_pet.img_path }}"/>

          <!-- Found PetReport Info -->
          <ul class="found_pmdpfields"></ul>

        </div>
        <!-- End Found PetReport -->
      </div> 
      <!-- end PMDP Match Container -->

      <div id = "pmdp_action_container">

        <div id="pmdp_votes_subtitle">
          <span id="pmdp_subtitle">People who have voted for this Pet Match </span>
          <div class="pmdp_vote_box" style="float:left;"> 
            <h3 style="margin-top:0px; margin-bottom:5px;"># Downvotes </h3>
            <h3 id="pmdp_downvote_number"> {{ num_downvotes }} </h3>
          </div>
          <div>
          </div>
          <div class="pmdp_vote_box" style="float:right;"> 
            <h3 style="margin-top:0px; margin-bottom:5px;"># Upvotes </h3>
            <h3 id= "pmdp_upvote_number"> {{ num_upvotes }}</h3>
          </div>
        </div>

        <!-- Need this for sending POST data -->
        {% csrf_token %}

        <div style="margin-top:5px;">

          <!-- Downvote Button -->
          <div style="float:left;">
            <img id= "pmdp_downvote_button" src="{{ STATIC_URL }}images/icons/button_downvote_active.png" alt="Downvote this Pet Match">
            </img>
          </div>

          <!-- UserBox Div -->
          <div id = "pmdp_userbox_container">
            {% for worker in voters %}
              <div id = "pmdp_user_box">
                <a href= "{% url 'get_UserProfile_page' worker.id %}" title = "{{ worker.user.username }}">
                  {% if worker.photo %}    
                    <img src="{{ STATIC_URL }}{{ worker.photo }}" alt = "{{ worker.user.username }}"/>   
                  {% else %}
                    <img src="{{ STATIC_URL }}/images/defaults/anonymous.gif" alt = "{{ worker.user.username }}"/>
                  {% endif %} 
                  <strong style="padding:10px 0px 0px 10px;"> {{ worker.reputation }} </strong>
                </a>
              </div>
            {% endfor %}
          </div>

          <!-- Upvote Button -->
          <div style="float:right;">
            <img id = "pmdp_upvote_button" src= "{{ STATIC_URL }}images/icons/button_upvote_active.png" alt="Upvote this Pet Match">
            </img>
          </div>          

        </div>
      </div>

      <!-- Messages -->
      <ul id="messages" class="pmdp_messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>              

    </div>
  </body>
</html>

