{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang = "en">
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}Pet Match Detailed Page{% endblock head_title %}</title>
  </head>

  <body id="epm-modal-dialog-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">{{ petmatch.lost_pet.pet_name }} and {{ petmatch.found_pet.pet_name }} {% if petmatch.is_successful %} - <b style="color:#428bca">Matched! </b> {% endif %}</h4>
    </div> 

    <div id="pmdp-container" class="modal-body">    
      <!-- PMDP Title -->
      <a class="epm-dialog-title" href="/">EmergencyPetMatcher</a>
      <strong class="epm-dialog-title" style="font-size:24px; margin-bottom:10px;">
        <a id="lost-prdp-link" href="#">{{ petmatch.lost_pet.pet_name }}</a> and 
        <a id="found-prdp-link" href="#">{{ petmatch.found_pet.pet_name }}</a>
      </strong>      

      <!-- Proposed_by link -->
      <span style="text-align:center; display:block">
        Proposed by <a href="{% url 'get_UserProfile_page' petmatch.proposed_by.id %}">{{ petmatch.proposed_by.user.username }}</a>
      </span>

      <!-- Some logic to give nice header for number of voters -->
      <span style="display:block; text-align:center; margin-bottom:10px; color:gray;"> 
        {% if num_voters > 1 %}
          {% if user_has_voted %}
            You and <strong style="font-size:18px;">{{ num_voters|add:"-1" }}</strong> people have voted on this match.
          {% else %}
            <strong style="font-size:18px;">{{ num_voters }}</strong> people have voted on this match.
          {% endif %}
        {% elif num_voters == 1 %}
          {% if user_has_voted %}
            You have voted for this match.
          {% else %}
            <strong style="font-size:18px;">{{ num_voters }}</strong> person has voted on this match.
          {% endif %}
        {% else %}
          Nobody has voted on this match yet.
        {% endif %}  
      </span>    

      <!-- Messages -->
      {% block messages %}
      <ul id="messages" class="pmdp_messages"> 
        {% for message in messages %} 
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li> 
        {% endfor %}
      </ul>
      {% endblock messages %}       
                      
      <!-- Pet Pictures -->
      <div id="pmdp-pics">
        <div id="lost_pet_pic_wrapper" class="img-wrapper" style="float:left;">  
          <img class="pet_pic" src="{{ MEDIA_URL }}{{ petmatch.lost_pet.img_path }}"/>
        </div>
        <div id="found_pet_pic_wrapper" class="img-wrapper" style="float:right;">  
          <img class="pet_pic" src="{{ MEDIA_URL }}{{ petmatch.found_pet.img_path }}"/>
        </div>                  
      </div>

      <!-- Pet Info -->
      <table id="pmdp-info-table" class="epm-table table table-hover">
        <tbody>
          {% for field in pet_fields %}
          <tr>
            <td class="pet-info-header"> {{ field.0 }} </td>
            <td class="pet-info-data"> {{ field.1 }}</td>
            <td class="pet-info-data"> {{ field.2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      {% if not petmatch.is_successful %}

        <h4 style='text-align:center;'> Vote for this Pet Match </h4>
        <span style="display:block; text-align:center; margin-bottom:10px; color:gray;"> 
        Casting enough votes will bring this match to the owners' attention. </span>
            
        <form id="pmdp-vote-actions">
          {% csrf_token %}  

          <!-- Downvote Button -->        
          <div class="pmdp_vote_box" style="display:inline-block;"> 
            <strong id="pmdp_downvote_number" style="text-align:center; font-size:18px;">{{ num_downvotes }} </strong>          
            {% if num_downvotes == 1 %} Downvote {% else %} Downvotes {% endif %}
            <img id= "pmdp_downvote_button" src={% static "home/icons/button_downvote_active.png" %} alt="Downvote this Pet Match"/>
          </div> 

          <!-- Upvote Button -->
          <div class="pmdp_vote_box" style="display:inline-block;"> 
            <strong id="pmdp_upvote_number" style="text-align:center; font-size:18px;">{{ num_upvotes }} </strong>          
            {% if num_upvotes == 1 %} Upvote {% else %} Upvotes {% endif %}
            <img id = "pmdp_upvote_button" src={% static "home/icons/button_upvote_active.png" %} alt="Upvote this Pet Match"/>
          </div>
      
        </form>
      {% endif %}
      <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
      <button id="pmdp-share" type="button" class="btn btn-info btn-lg">Share</button>      
    </div>
  </body>

  <!-- CSS -->
  <link rel="stylesheet" href={% static "home/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "matching/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "home/css/bootstrap.min.css" %} type="text/css"></link> 

  <!-- Javascript & JQuery -->
  <script src={% static "home/js/jquery-1.9.1.min.js" %} type="text/javascript"></script>
  <script src={% static "home/js/bootstrap.min.js" %} type="text/javascript"></script>

  <!-- Include the imagesLoaded plug-in -->
  <script src={% static "home/js/jquery-imagesloaded.js" %} type="text/javascript"></script>
  <script src={% static "home/js/jquery-zoom.js" %} type="text/javascript"></script>  

    <!-- Include the wookmark plug-in -->
  <script src={% static "home/js/jquery-wookmark.js" %} type="text/javascript"></script>

  <!-- Global, inheritable JS goes here -->
  <script src = {% static "home/js/epm.js" %} type='text/javascript'></script>  

  {% block js %}
  <!-- Page-specific JS goes in this block -->
  <script src = {% static "matching/js/epm-petmatch.js" %} type='text/javascript'></script>
  
  <script type="text/javascript">
      //Must have these django-rendered variables as global javascript variables in order to refer to them!
      var STATIC_URL = "{{ STATIC_URL }}";
      var MEDIA_URL = "{{ MEDIA_URL }}";
      var USER_ID = "{{ user.id }}";        
      var USER_HAS_VOTED = "{{ user_has_voted }}";
      var PETMATCH_IS_BEING_CHECKED = "{{ petmatch.is_being_checked }}";
      var PETMATCH_IS_SUCCESSFUL = "{{ petmatch.is_successful }}";
      var PETMATCH_ID = "{{ petmatch.id }}";
      var LOST_PETREPORT_ID = "{{ petmatch.lost_pet.id }}";
      var FOUND_PETREPORT_ID = "{{ petmatch.found_pet.id }}";
      var URL_VOTE_PETMATCH = "{% url 'vote' %}";
      var URL_LOGIN = "Log in <a href={% url 'login_User' %}?next={% firstof request.path '/' %} > here.</a>";  
      var UPVOTE = "upvote";
      var DOWNVOTE = "downvote";
      var DOWNVOTE_BUTTON_ACTIVE_LINK = "{{ STATIC_URL}}home/icons/button_downvote_active.png";
      var DOWNVOTE_BUTTON_INACTIVE_LINK = "{{ STATIC_URL }}home/icons/button_downvote_inactive.png";
      var UPVOTE_BUTTON_ACTIVE_LINK = "{{ STATIC_URL }}home/icons/button_upvote_active.png";
      var UPVOTE_BUTTON_INACTIVE_LINK = "{{ STATIC_URL }}home/icons/button_upvote_inactive.png";

      //Setting up parameters for sharing on facebook and twitter
      var PETMATCH_URL = 'http://{{ site_domain }}/matching/PetMatch/{{ petmatch.id }}';
      var PETMATCH_IMAGE = 'http://{{ site_domain }}{{ STATIC_URL }}{{ petmatch.lost_pet.img_path }}';
      var PETMATCH_TITLE = "#petmatching on #epm";
      var PETMATCH_CAPTION ='EmergencyPetMatcher';
      var PETMATCH_SUMMARY = "{{ petmatch.lost_pet.status }} {{ petmatch.lost_pet.pet_type }} (Name:{{ petmatch.lost_pet.pet_name }}) has been proposed to match a {{ petmatch.found_pet.status }} {{ petmatch.found_pet.pet_type }}. #epic";
  </script>
  {% endblock js %}  
</html>

