{% extends "home/index.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href={% static "home/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "matching/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>
{% endblock css %}

{% block js %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src = {% static "matching/js/epm-propose_match.js" %} type='text/javascript'></script>
{% endblock js %}

{% block content %}
<div id="content" style="width:750px;">
  <div class="alert alert-warning" role="alert" style="font-weight:bold; text-align:center; margin:20px; font-size:1.3em;">
    Please examine the two pet reports carefully. Proposing this match means that everyone can vote on it. Are you sure this is match that you want to propose?
  </div>

  <div id="pmdp-overview">
    <!-- PetReport Target and Candidate Pictures -->
    <div id="pmdp-pics">
      <div id="target-pic" class="img-wrapper" style="float:left;">
        <img class="pet_pic" src="{{ MEDIA_URL }}{{ target.img_path }}"/>
      </div>
      <div id="candidate-pic" class="img-wrapper" style="float:right;">
        <img class="pet_pic" src="{{ MEDIA_URL }}{{ candidate.img_path }}"/>
      </div>
    </div>

    <!-- PetReport Target and Candidate Details -->
    <table id="pmdp-info-table" class="table table-hover">
        <tbody>
          {% for field in petreport_fields %}
            <tr>
              <td class="pet-info-header" attr="{{ field.attr }}"> {{ field.label }}</td>
              <td class="pet-info-data">{{ field.lost_pet_value }}</td>
              <td class="pet-info-data">{{ field.found_pet_value }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <!-- Form to create PetMatch -->
    <form method="post" style="text-align:center;" action="{% url 'propose_PetMatch' target.id candidate.id %}" >
      {% csrf_token %}
      <label>Please verify your submission via RECAPTCHA</label>
      <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_CLIENT_SECRET }}" data-callback='recaptcha_done' style="margin:10px auto; width:300px;"></div>
      <input id="id_submit" type="Submit" class="btn btn-primary" value="Yes, I believe these are a match!" disabled/>
      <a href="{% url 'match_PetMatch' target.id %}" type="button" class="btn btn-default" data-dismiss="modal">Nevermind, these are not a match.</a>
    </form>
  </div>
</div>
{% endblock content %}
