{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang = "en">
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}Pet Match Confirmation Dialog{% endblock head_title %}</title>
  </head>

  <body>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"> {{ target.pet_name }} and {{ candidate.pet_name }}</h4>
    </div>

    <div id="pmdp-container" class="modal-body">

      <!-- Messages -->
      {% block messages %}
      <ul id="messages" class="prdp_messages"> 
        {% for message in messages %} 
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li> 
        {% endfor %}
      </ul>
      {% endblock messages %} 

      <strong id="pmdp-title"> Please examine the two pet reports carefully. Making this match means that everyone can vote on its success. Are you sure this is match that you want to make? </strong>

      <!-- PetReport Target and Candidate Pictures -->
      <div id="pmdp-pics">
        <div id="target-pic" class="img-wrapper" style="float:left;"> 
          <img src="{{ MEDIA_URL }}{{ target.img_path }}"/>
        </div>
        <div id="candidate-pic" class="img-wrapper">
          <img src="{{ MEDIA_URL }}{{ candidate.img_path }}"/>
        </div>
      </div>      

      <!-- PetReport Target and Candidate Details -->
      <table id="pmdp-info-table" class="table table-hover">
          <tbody>
            {% for field in pet_fields %}
            <tr>
              <td class="pet-info-header"> {{ field.0 }}</td>
              <td class="pet-info-data"> {{ field.1 }}</td>
              <td class="pet-info-data">{{ field.2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <!-- Form to create PetMatch -->
      <form method="post" style="text-align:center;" action="{% url 'propose_PetMatch' target.id candidate.id %}" >
        {% csrf_token %}
        <input type="Submit" class="btn btn-primary" value="Yes, these are a match!"/>
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind, these are not a match.</button>
      </form>      
    </div>    
  </body>

  <!-- CSS -->
  <link rel="stylesheet" href={% static "home/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "matching/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "home/css/bootstrap.min.css" %} type="text/css"></link> 

  <!-- Javascript & JQuery -->
  <script src={% static "home/js/jquery-1.9.1.min.js" %} type="text/javascript"></script>
  <script src={% static "home/js/bootstrap.min.js" %} type="text/javascript"></script>

  <!-- Include the imagesLoaded plug-in -->
  <script src={% static "home/js/jquery-imagesloaded.js" %} type="text/javascript"></script>
  <script src={% static "home/js/jquery-zoom.js" %} type="text/javascript"></script>  

    <!-- Include the wookmark plug-in -->
  <script src={% static "home/js/jquery-wookmark.js" %} type="text/javascript"></script>

    <!-- Include the SimplePagination Plug-in -->
  <script src={% static "home/js/jquery-simplePagination.js" %} type="text/javascript"></script>

  <!-- Global, inheritable JS goes here -->
  <script src = {% static "home/js/epm.js" %} type='text/javascript'></script>  

  {% block js %} 
  <!-- Page-specific JS goes in this block -->
  <script src = {% static "matching/js/epm-propose_match.js" %} type='text/javascript'></script>

  <script type="text/javascript">
      //Define those django-rendered petreport variables as global javascript variables
      var TARGET_PETREPORT = convert_to_javascript_obj(("{{ target_json|escapejs }}").replace(/&(l|g|quo)t;/g)); 
      var CANDIDATE_PETREPORT = convert_to_javascript_obj(("{{ candidate_json|escapejs }}").replace(/&(l|g|quo)t;/g)); 
  </script>
  {% endblock js %}  
</html>

