{% extends 'home/index.html' %}
{% load url from future %}
<!-- Page-specific JS goes in this block -->
{% block js %}
<script src = "{{ STATIC_URL }}js/local/epm-bookmarks.js" type = 'text/javascript'></script>
<script type = 'text/javascript'>
USER_ID = "{{ user.id }}";
</script>
{% endblock js %}

{% block messages %}
	<ul id="messages">
	    {% for message in messages %}
	    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endblock messages %}

{% block navbar %}
	<div id="nav">
		<ul>
		{% if user.is_authenticated %}
			<li><a href="{% url 'home' %}">Newly Added</a></li>
			<li class="active"><a href="{% url 'bookmarks' %}">Bookmarked</a></li>
			<!-- Put this in once ready: <li><a href="#">Following</a></li> -->
			<!-- Put this in once ready: <li><a href="#">Pet Reports</a></li> -->
			<!-- Put this in once ready: <li><a href="#">Pet Matches</a></li> -->
		{% else %}
			<li><a href="{% url 'home' %}">Newly Added</a></li>
		{% endif %}
		</ul>
	</div>
{% endblock navbar %}

<ul id="tiles">

	{% block friends_activity_feed %}{% endblock friends_activity_feed %}
	{% block pet_reports_content %}
		{% if pet_reports_list %}
			{% for pet_report in pet_reports_list %}
				<li class="item"  >
					<img title="Remove Bookmark" class="bookmark_x" src="{{ STATIC_URL }}images/icons/button_bookmark_X.png" petreportid="{{ pet_report.id }}" />
					<!--onclick="remove_bookmark({{ pet_report.id }})"-->
					{% csrf_token %}
					<a class = "prdpdialog" url="{% url 'disp_PetReport' pet_report.id %}" name = "{{ pet_report.pet_name }}">
						<strong>{{ pet_report.pet_name }}</strong><br/>
						{{ pet_report.status }}: {{ pet_report.pet_type }} <br/>
						Contact : {{  pet_report.proposed_by.user.username }}
						<img src="{{ STATIC_URL }}{{ pet_report.img_path }}"/>
						
					</a>
				</li>	
			{% endfor %}						
		{% else %}
		    <li style="text-align:center;"><h3>No pet reports are available.</h3></li>
		{% endif %}
	{% endblock pet_reports_content %}
</ul>