{% load url from future %} <!-- Need this for forward (future) compatibility with django 1.5 and beyond. -->

<!DOCTYPE html>
<html class = 'no-js' lang = "en">
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}Pet Report Detailed Page{% endblock head_title %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- CSS Reset -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript"> 
    </script>
  </head>

  <body>
    {%  block petreportcontent %}
      <div id="prdpback"> <!-- id="prdpback" --><!-- class="prdpback">-->
        {% if pet_report %}
          <div id="prdp_title"> <!-- id="prdp_title" -->
            {% if pet_report.pet_name %}
              {{ pet_report.pet_name }}
            {% else %}
              {% if pet_report.status %}
                Lost : 
              {% else %}
                Found : 
              {% endif %}
              {{ pet_report.pet_type }}
            {% endif %}
          </div>
  		    <div id="prdp_picwrapper"><!-- id="prdp_picwrapper">-->
          {% if pet_report.img_path %}  
  			       <img  src="{{ STATIC_URL }}{{ pet_report.img_path }}"/>
          {% else %}
                {% ifequal pet_report.pet_type "Dog" %}
                    <img src="{{ STATIC_URL }}images/defaults/dog_silhouette.jpg"/>
                {% endifequal %}
                {% ifequal pet_report.pet_type "Cat" %}
                  <img src="{{ STATIC_URL }}images/defaults/cat_silhouette.jpg"/>
                {% endifequal %}
                {% ifequal pet_report.pet_type "Turtle" %}
                  <img src="{{ STATIC_URL }}images/defaults/turtle_silhouette.jpg"/>
                {% endifequal %}
                {% ifequal pet_report.pet_type "Rabbit" %}
                  <img src="{{ STATIC_URL }}images/defaults/rabbit_silhouette.jpg"/>
                {% endifequal %}
                {% ifequal pet_report.pet_type "Snake" %}
                  <img src="{{ STATIC_URL }}images/defaults/snake_silhouette.jpg"/>
                {% endifequal %}
                {% ifequal pet_report.pet_type "Horse" %}
                  <img src="{{ STATIC_URL }}images/defaults/horse_silhouette.jpg"/>
                {% endifequal %}
                {% ifequal pet_report.pet_type "Other" %}
                  OTHER
                {% endifequal %}
          {% endif %}
          </div><br>

          <div id="prdpinfo">
              <b>Pet Name:</b> 
              {% if pet_report.pet_name %}
                {{ pet_report.pet_name }}
              {% else %}
                unknown
              {% endif %}<br>
              <b>Lost/Found: </b> 
              {% if pet_report.status %}
                Lost 
              {% else %}
                Found
              {% endif %}
              <br>
              <b>Sex:</b>  {{ pet_report.sex }}<br>
              <b>Breed:</b> 
              {% if pet_report.breed %}
                {{ pet_report.breed }}
              {% else %}
                unknown
              {% endif %}
              <br> 
              <b>Color:</b> 
              {% if pet_report.color %}
                {{ pet_report.color }} 
              {% else %}
                unknown
              {% endif %}
              <br>
              <b>Contact:</b>  {{  pet_report.proposed_by.user.username }}<br>
          </div>    
          <div id="prdp_ppm_wk"><!-- id="prdp_ppm_wk" -->
              <div id="prdp_subtitle"> <!-- id="prdp_subtitle" -->
                Proposed Matches
              </div>          
          </div>
          <div id="prdp_ppm_wk"><!-- id="prdp_wk" -->
              <div id="prdp_subtitle">
                People working on this pet
              </div>
              {% for worker in pet_report.workers.all  %}
                  {{ worker.user.username }}, 
              {% endfor %}
          </div> 

        {% endif %}		  
    {%  endblock petreportcontent %}

  </body>
</html>
