{% extends 'home/index.html' %}
{% load url from future %}

{% block js %}
{% endblock js %}

{% block headers %}
	<script src="{{ STATIC_URL }}js/CalendarControl.js" language="Javascript"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/CalendarControl.css" type="text/css"></link>
{% endblock headers %}

{% block head_title %}EPM - Report a Lost/Found Pet{% endblock head_title %}
{% block content_title %} Report a Lost/Found Pet {% endblock content_title %}

{% block content %}

	<div id = "pr_form_instructions" style ="margin-bottom:20px; font-size: 14px; font-weight:bold;">
		To create a pet report, please fill in the following fields to the best of your ability. Once you have finished, review the pet report to determine its quality. Review with consideration:

		 <ul>
		 	<li> The quantity of information (are all the fields filled in?) </li>
		 	<li> The quality of information (is the picture relevant and helpful? Is the description free of general 'fluff' and to the point? </li>
		 	<li> And general correctness (is everything spelled correctly?)</li>
		 </ul>
		 If the pet report meets these criteria, click the 'Submit' button at the end of the form.
	</div>

	<div id="detail" style="width:500px; height:100%; padding: 5px; border:1px dotted;">

		{% if form.errors %} <strong> {{ form.errors }} </strong> {% endif %}

		<form enctype="multipart/form-data" method="POST" action="{% url 'submit_PetReport' %}">
			{% csrf_token %}
			<table>
				{% for field in form %}
					<tr>
						<td><strong> {{ field.label }} </strong></td>
						{% ifequal field.label "Date Lost/Found" %}
							<td>
								<input name="date_lost_or_found" id="id_date_lost_or_found" onfocus="showCalendarControl(this)" type="text"/>
							</td>
						{% else %}
					    	<td>{{ field }}</td>
					    {% endifequal %}	
					</tr>
				{% endfor %}
			</table><br/>
			<input type="submit" value="Submit" style= "margin: 10px 0px 10px 0px; width:100px; height:25px; float:left;"/>
		</form>
	</div>

{% endblock content %}


