{% load url from future %} <!-- Need this for forward (future) compatibility with django 1.5 and beyond. -->

<!DOCTYPE html>
<html class = 'no-js' lang = "en">
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}Pet Report Detailed Page{% endblock head_title %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- CSS Reset -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript"> 
    </script>
  </head>

  <body>
    {%  block petreportcontent %}
      <div id="prdpback"> <!-- id="prdpback" --><!-- class="prdpback">-->
        {% if pet_report %}
          <div id="prdp_title"> <!-- id="prdp_title" -->
            {{pet_report.status }} : {{ pet_report.pet_type }}
          </div>
  		    <div id="prdp_picwrapper"><!-- id="prdp_picwrapper">-->
         
  			  <img  src="{{ STATIC_URL }}{{ pet_report.img_path }}"/>
          
          </div><br>

          <div id="prdpinfo">
              <b>Pet Name:</b> {{ pet_report.pet_name }}<br>
              <b>Lost/Found: </b> {{ pet_report.status }}<br> 
              <b>Contact:</b>  {{  pet_report.proposed_by.user.username }}<br>
              <b>Date {{ pet_report.status }} : </b>{{ pet_report.date_lost_or_found }}<br>
              <b>Age:</b> {{ pet_report.age }}<br> 
              <b>Sex:</b>  {% ifequal pet_report.sex "M" %} Male {% else %} Female {% endifequal %}<br>
              <b>Breed:</b> {{ pet_report.breed }} <br> 
              <b>Color:</b> {{ pet_report.color }} <br>
              <b>Size:</b> {% ifequal pet_report.size "M" %} Medium (10 - 100 lbs.) {% else %}  {% ifequal pet_report.size "L" %} Large (100+ lbs.) {% else %} Small (0 - 10 lbs.) {% endifequal %} {% endifequal %}<br>
<!--          <b>Description:</b> {{ pet_report.description }}<br>
 -->

          </div>    
          <div id="prdp_ppm_wk"><!-- id="prdp_ppm_wk" -->
              <div id="prdp_subtitle"> <!-- id="prdp_subtitle" -->
                Proposed Matches
              </div>          
          </div>
          <div id="prdp_ppm_wk"><!-- id="prdp_wk" -->
              <div id="prdp_subtitle">
                People working on this pet
              </div>
              {% for worker in pet_report.workers.all  %}
                  {{ worker.user.username }}, 
              {% endfor %}
          </div> 

        {% endif %}
        <a href="{% url 'matching' pet_report.id %}">work on this pet</a>		  
    {%  endblock petreportcontent %}

  </body>
</html>
