{% extends 'home/index.html' %}
{% load url from future %}

{% block js %}
	<script src="{{ STATIC_URL }}js/local/epm-petreport_form.min.js" type='text/javascript'></script>
	<script src="{{ STATIC_URL }}js/jquery-rotate.min.js" type='text/javascript'></script>
	<script type="text/javascript">
		var PETREPORT_TAG_INFO_LENGTH = {{ PETREPORT_TAG_INFO_LENGTH }}
		var PETREPORT_DESCRIPTION_LENGTH = {{ PETREPORT_DESCRIPTION_LENGTH }}
	</script>
{% endblock js %}

<div style="height:2200px;">
	{% block menu %}
	<!-- Navigation Menu -->
	<ul id="menu">
		<li><a href="{% url 'home' %}">Home</a></li>
		<li> <a href="{% url 'get_UserProfile_page' user.get_profile.id %}">{{ user.username }}</a></li>
		<li>
			<form method = "post" action= "{% url 'logout_User' %}">
				{% csrf_token %} <input id="logout" type="submit" value="Logout"/>
			</form>
		</li>
		<li><a href= "{% url 'submit_PetReport' %}" class="active">New Pet Report</a></li>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dG9XTzRzNlB3Nl9KWGRMb2Jnd2tObnc6MQ#gid=0">Feedback</a></li>
	</ul>				
	{% endblock menu %}	

	{% block head_title %}EPM - Report a Lost/Found Pet{% endblock head_title %}
	{% block activity_feed %}{% endblock activity_feed %}

	{% block content %}
		<div id="content" style="padding:10px 10px 40px 10px; margin-top:40px; border:2px solid gray; width:850px; height:1750px; background-color: #E8E8E8">
			{% block messages %} 
				<ul id="messages"> {% for message in messages %}<li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>{% endfor %}</ul>
			{% endblock messages %}
			{% block content_title %}
				<h2 style="width:800px; margin-left:auto; margin-right:auto;"> Create a Pet Report </h2>
			{% endblock content_title %}
			{% block content_subtitle %} 
				<h3 style="width:800px; margin-left:auto; margin-right:auto;"> To create a pet report, please fill in the following fields to the best of your ability. Once you have finished, click the 'Submit' button at the end of the form. The fields marked with * are required. </h3>
			{% endblock content_subtitle %}	

			<form enctype="multipart/form-data" name="petreport_form" method="POST" action="{% url 'submit_PetReport' %}" style="width:800px; margin-left:auto; margin-right:auto;">
				{% csrf_token %}
				<ul style="list-style-type:none; padding: 0px 0px 0px 20px;">
				{% for field in form %}
					<!-- Geo Location Field set -->
					{% if "Geo Location Lat" in field.label %}
						<li> <strong> Geolocation </strong> </li>
						<div id="petreport_form_geo" style="padding-bottom:15px;">
							Do you have geographical coordinates for the pet? <input id="petreport_form_geo_check" type="checkbox"/><br/>
							<li id="petreport_form_geo_fields" style="display:none;">
								<strong>Lattitude (Lat) Coordinate: </strong><input id='id_geo_location_lat' name='geo_location_lat' type='text'/><br/>
								<strong>Longitude (Long) Coordinate: </strong><input id='id_geo_location_long' name='geo_location_long' type='text'/><br/>
							</li>
						</div>
					{% elif "Geo Location Long" in field.label %} <!-- Do nothing -->

					<!-- Contact Field set -->
					{% elif "Contact Name" in field.label %}
						<li> <strong> Pet Contact Preference </strong></li>
						<div id = "petreport_form_contact" style="padding-bottom:15px;">
							Do you have a contact person for this pet (if other than yourself)? <input id="petreport_form_contact_check" type="checkbox"/><br/>
							<li id="petreport_form_contact_fields" style="display:none;">
								<strong>Contact Name: </strong><input id='id_contact_name' name='contact_name' type='text'/><br/>
								<strong>Contact Phone Number: </strong><input id='id_contact_number' name='contact_number' type='text'/><br/>
								<strong>Contact Email Address: </strong><input id='id_contact_email' name='contact_email' type='text'/><br/>
							</li>
						</div>
					{% elif "Contact Phone Number" in field.label %} <!-- Do nothing -->
					{% elif "Contact Email Address" in field.label %} <!-- Do nothing -->

					<!-- Regular Fields -->
					{% else %}
						<!-- Present Field errors, label, and help text -->
						{{ field.errors }}
						<li> <strong> {{ field.label }} </strong></li>
						{% if field.help_text %} <li style="margin-bottom:5px;"> {{ field.help_text }} </li> {% endif %}		
						
						<!-- Special cases for these fields -->
						{% if "Date Lost/Found" in field.label %}
							<li>
								<input name="date_lost_or_found" id="id_date_lost_or_found" type="text"/>
							</li><br/>
						{% elif "Microchip ID" in field.label %}
							<div id="petreport_form_microchip" style="padding-bottom:15px;">
								Is the pet microchipped? <input id="petreport_form_microchip_check" type="checkbox"/><br/>
								<li id="petreport_form_microchip_field" style="display:none;">
									Enter Microchip ID: <input id='id_microchip_field' name='microchip_id' type='text'/><br/>
								</li>
							</div><br/>						
						{% elif "Tag and Collar Information" in field.label %}
							<li><span id="id_tag_collar_info_count"/></span></li>
							<li><textarea id="id_tag_collar_info" maxlength="{{ PETREPORT_TAG_INFO_LENGTH }}" rows="10" cols="30" name="tag_info"></textarea></li><br/>		
						{% elif "Pet Description" in field.label %}	
							<li><span id="id_description_count"/></span></li>
							<li><textarea id="id_description" maxlength="{{ PETREPORT_DESCRIPTION_LENGTH }}" rows="10" cols="30" name="description"></textarea></li><br/>
						{% elif "Upload an Image" in field.label %}
							<li style="width: 250px;">
								<div id="preview_img" style="border:2px dashed gray; width:250px; height:250px; margin:10px 10px 10px 0px;">
									<strong style="width:100%; margin-top:50%; display:inline-block; text-align:center; color:gray;"> Pet Picture Preview </strong>
								</div>
								<strong id="rotate_instructions" style="display:none; margin:5px auto 5px auto; text-align:center;"> Click on the image to rotate it </strong>
								<input id="id_img_rotation" name="img_rotation" type="hidden" value="0"/>
							</li>
							<li> {{ field }} </li><br/>
						{% else %}
					    	<li>{{ field }}</li><br/> <!-- Otherwise, just print the field -->
					    {% endif %}	
					{% endif %}
				{% endfor %}
				</ul><br/>
				<input id = "id_submit" class="epm_button" type="button" value="Submit" style= "margin: 10px 0px 10px 0px; width:150px; height:50px; font-size:13pt;float:right;"/>
			</form>
		</div>
	{% endblock content %}
</div>
