{% extends 'reporting/petreport_form.html' %}
{% load staticfiles %}

{% block js %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript">
    var PETREPORT_TAG_INFO_LENGTH = {{ PETREPORT_TAG_INFO_LENGTH }}
    var PETREPORT_DESCRIPTION_LENGTH = {{ PETREPORT_DESCRIPTION_LENGTH }}
    var PETREPORT_LOCATION_LAT = {{ petreport.geo_location_lat }};
    var PETREPORT_LOCATION_LNG = {{ petreport.geo_location_long }};
    var PET_TYPE = "{{ petreport.pet_type }}";
    var PET_BREED = "{{ petreport.breed }}";
  </script>
  <script src={% static "reporting/js/epm-petreport_form.js" %} type='text/javascript'></script>
{% endblock js %}

{% block head_title %}Edit Your Pet Report{% endblock head_title %}

{% block content_subtitle %} 
  <h3> Edit your Pet Report </h3>
  <p>The fields marked with <b style="margin:0;" class="required-field-symbol">*</b> are required. </p>
{% endblock content_subtitle %} 

{% block form %}
  <form enctype="multipart/form-data" id="petreport_form" method="POST" action="{% url 'edit' petreport.id %}">
{% endblock form %}

{% block img_path %}
  <img src="{{ MEDIA_URL }}{{ field.value }}"/>
{% endblock img_path %}

{% block form_action %}
  <div class="form-actions">
    <a href="/" id = "id_cancel" class="btn btn-default" type="button">Cancel</a>
    <input id = "id_submit" class="btn btn-primary" type="button" value="Update This Pet"/>
  </div>
{% endblock form_action %}
