{% extends 'home/index.html' %}
{% load staticfiles %}

{% block nav-choices %}
<ul id="epm-nav-links" class="nav navbar-nav navbar-right">
	<li><a href="{% url 'home' %}"> Home</a></li>
	{% if user.is_authenticated %}
		<li><a href="{% url 'get_UserProfile_page' user.get_profile.id %}">{{ user.username }}</a></li>
		<li><form id="epm-logout" class="navbar-form" method = "post" action= "{% url 'logout_User' %}">
			{% csrf_token %} 
			<input class="btn" type="submit" value="Logout"/>
			</form></li>	
		<li class="active"><a href= "{% url 'submit_PetReport' %}">New Pet Report</a></li>
	{% else %}
		<li><a href= "{% url 'login_User' %}?next={% firstof request.path '/' %}">Login/Register</a></li>
	{% endif %}

	<li><a href="{% url 'about' %}">About</a></li>
	<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dG9XTzRzNlB3Nl9KWGRMb2Jnd2tObnc6MQ#gid=0">Feedback</a></li>
</ul>
{% endblock nav-choices %}

{% block head_title %}EPM - Report a Lost/Found Pet{% endblock head_title %}

{% block content %}
	<div id="content" style="width:650px;">

		{% block content_subtitle %} 
			<h3> Create a Pet Report </h3>
			<p> To create a pet report, please fill in the following fields to the best of your ability. Once you have finished, click the 'Submit' button at the end of the form. The fields marked with (<b style="margin:0;" class="required-field-symbol">*</b>) are required. </p>
		{% endblock content_subtitle %}	

		<form enctype="multipart/form-data" name="petreport_form" method="POST" action="{% url 'submit_PetReport' %}">
			{% csrf_token %}

			{% block messages %}
			<ul id="messages">
				{% for message in messages %}
			    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endblock messages %}		

			<div style="margin-bottom:20px;">
				{% for error in form.non_field_errors %} <span class="field-error-message"> {{ error }} </span>{% endfor %}
			</div>

			{% for field in form %}
			<div class="form-group" field="{{ field.html_name }}">
				{% for error in field.errors %} <span class="field-error-message">{{ error }}</span> {% endfor %}

				{% if "Pet Status" in field.label %}
					<label for="{{ field.id }}">Pet Status<b class="required-field-symbol">*</b></label>
					<select id="id_status" class="form-control" name="{{ field.html_name }}" style="width:100px;">
						{% for k,v in field.field.choices %}<option>{{ v }}</option>{% endfor %}
					</select>

				{% elif "Date Lost/Found" in field.label %}
					<label for="{{ field.id }}">Date Lost/Found<b class="required-field-symbol">*</b></label>
					<input id="id_date_lost_or_found" class="form-control" name="{{ field.html_name }}"type="text" style="width:200px;">

				{% elif "Pet Type" in field.label %}
					<label for="{{ field.id }}">Pet Type<b class="required-field-symbol">*</b></label>
					<select id="id_pet_type" class="form-control" name="{{ field.html_name }}" style="width:100px;">
						{% for k,v in field.field.choices %}<option>{{ v }}</option>{% endfor %}
					</select>

				{% elif "Pet Name" in field.label %}
					<label for="{{ field.name }}">{{ field.label }}</label>
					<input id="id_pet_name" class="form-control" maxlength="15" name="{{ field.html_name }}" type="text" style="width:150px;">

				{% elif "Breed" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<input id="id_breed" maxlength="30" name="{{ field.html_name }}" type="hidden" style="width:200px; display:block;">

				{% elif "Age" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<select id="id_age" class="form-control" name="{{ field.html_name }}" style="width:100px;">
						{% for k,v in field.field.choices %}<option>{{ v }}</option>{% endfor %}
					</select>

				{% elif "Coat Color(s)" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<input id="id_color" maxlength="30" class="form-control" name="{{ field.html_name }}" type="text" style="width:200px;" placeholder="Example: Brown, white">

				{% elif "Sex" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<select id="id_sex" class="form-control" name="{{ field.html_name }}" style="width:100px;">
						{% for k,v in field.field.choices %}<option>{{ v }}</option>{% endfor %}
					</select>					

				{% elif "Spayed/Neutered" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<select id="id_spayed_or_neutered" class="form-control" name="{{ field.html_name }}" style="width:200px;">
						{% for k,v in field.field.choices %}<option>{{ v }}</option>{% endfor %}
					</select>					

				{% elif "Size of Pet" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<select id="id_size" class="form-control" name="{{ field.html_name }}" style="width:200px;">
						{% for k,v in field.field.choices %}<option>{{ v }}</option>{% endfor %}
					</select>

				{% elif "Upload an Image" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<div id="preview_img">
						<strong style="width:100%; margin-top:50%; display:inline-block; text-align:center; color:gray;"> Pet Picture Preview </strong>
					</div>
					<strong id="rotate_instructions" style="display:none; margin:5px auto 5px auto;"> Click on the image to rotate it </strong>
					<input id="id_img_rotation" name="img_rotation" type="hidden" value="0"/>
					<input id="id_img_path" name="img_path" type="file"/>

				{% elif "Pet Description" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<textarea id="id_description" class="form-control" name="{{ field.html_name }}" maxlength="{{ PETREPORT_DESCRIPTION_LENGTH }}" rows="5" cols="20" style="width:400px;"></textarea>

				{% elif "Location" == field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>
					<input id="id_location" maxlength="100" class="form-control" name="{{ field.html_name }}" type="text" placeholder="Write in general information (Boulder, CO)."style="width:300px;">

				<!-- Geo Location Field set -->
				{% elif "Geo Location Lat" in field.label %} <!-- Do nothing --> 
				{% elif "Geo Location Long" in field.label %} 
					<div id="petreport-form-geo" class="form-group">
						<label for="{{ field.id }}"> Geo-location </label>
						{% for error in field.errors %} <span class="field-error-message">{{ error }}</span> {% endfor %}
						<p>	Do you have geographical coordinates for the pet? <input id="petreport_form_geo_check" type="checkbox"/></p>
						<div id="petreport_form_geo_fields" class="hidden">
							<input id="id-geo-location-lat" class="form-control" name="geo_location_lat" placeholder="Latitude (Lat) Coordinate" type="text" />
							<input id="id-geo-location-long" class="form-control" name="geo_location_long" placeholder="Longitude (Long) Coordinate" type="text" />
						</div>
					</div>
				
				{% elif "Microchip ID" in field.label %}
					<div id="petreport_form_microchip" class="form-group">
						<label for="{{ field.id }}"> {{ field.label }} </label>
						<p> Is the pet microchipped? <input id="petreport_form_microchip_check" type="checkbox"/></p>
						<div id="petreport_form_microchip_field" class="hidden">
							<input id='id-microchip-field' class="form-control" name="{{ field.html_name }}" type='text' placeholder="Enter Microchip ID. It will be used to verify this pet but will not be shown publicly."/>
						</div>
					</div>	

				{% elif "Tag and Collar Information" in field.label %}
					<label for="{{ field.id }}"> {{ field.label }} </label>				
					<span id="id_tag_collar_info_count"/></span>
					<textarea id="id_tag_collar_info" class="form-control" name="{{ field.html_name }}" maxlength="{{ PETREPORT_TAG_INFO_LENGTH }}" rows="5" cols="20" style="width:300px; max-width:400px; max-height:300px;"></textarea>


				<!-- Contact Field set -->
				{% elif "Contact Phone Number" in field.label %} 
				{% elif "Contact Email Address" in field.label %}
				{% elif "Contact Alternative link to Pet Posting" in field.label %} 
				{% elif "Contact Name" in field.label %}			
					<label for="{{ field.id }}"> Pet Contact Details </label>	
					<div id = "petreport_form_contact" style="padding-bottom:15px;">
						If you're not the pet owner or pet finder, do you have the original pet contact details? <input id="petreport_form_contact_check" type="checkbox"/>
						<div id="petreport_form_contact_fields" style="display:none; margin:10px;">

							<div style="margin:10px;">
								<strong>Contact Name</strong>
								<input id='id_contact_name' class="form-control" name='contact_name' maxlength="{{ PETREPORT_CONTACT_NAME_LENGTH }}" type='text' style="width:200px;"/>
							</div>
							<div style="margin:10px;">
								<strong>Phone Number</strong>
								<input id='id_contact_number' class="form-control" name='contact_number' maxlength="{{ PETREPORT_CONTACT_NUMBER_LENGTH }}" type='text' style="width:250px;"/>
							</div>
							<div style="margin:10px;">
								<strong>Email Address</strong>
								<input id='id_contact_email' class="form-control" name='contact_email' maxlength="{{ PETREPORT_CONTACT_EMAIL_LENGTH }}" type='text' style="width:200px;"/>
							</div>
							<div style="margin:10px;">
								<strong>Alternative Link to Pet Posting</strong>
								<input id='id_contact_link' class="form-control" name='contact_link' maxlength="{{ PETREPORT_CONTACT_LINK_LENGTH }}" type='text' style="font-family: monospace; width:250px;"/>
							</div>							
						</div>
					</div>
				{% endif %}
			</div>
			{% endfor %}

			<div class="form-actions">
				<input id = "id_submit" class="btn btn-primary" type="button" value="Submit"/>
			</div>
		</form>
	</div>
{% endblock content %}


{% block js %}
	<script src={% static "reporting/js/epm-petreport_form.js" %} type='text/javascript'></script>
	<script src={% static "reporting/js/jquery-rotate.min.js" %} type='text/javascript'></script>
	<script src={% static "reporting/js/select2.js" %} type='text/javascript'></script>
	<script type="text/javascript">
		var PETREPORT_TAG_INFO_LENGTH = {{ PETREPORT_TAG_INFO_LENGTH }}
		var PETREPORT_DESCRIPTION_LENGTH = {{ PETREPORT_DESCRIPTION_LENGTH }}
	</script>
{% endblock js %}

{% block css %}
	<link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>	
	<link rel="stylesheet" href={% static "reporting/css/select2.css" %} type="text/css"></
	<link rel="stylesheet" href={% static "reporting/css/select2-bootstrap.css" %} type="text/css"></link>	
{% endblock css %}



