{% extends 'home/index.html' %}
{% load staticfiles %}

{% block head_title %}Report a Lost/Found Pet{% endblock head_title %}

{% block content %}
	<div id="content" style="width:700px;">
		{% block content_subtitle %} 
			<h3> Create a Pet Report </h3>
			<p> To create a pet report, please fill in the following fields to the best of your ability. Once you have finished, click the 'Submit' button at the end of the form. The fields marked with <b style="margin:0;" class="required-field-symbol">*</b> are required. </p>
		{% endblock content_subtitle %}	

		{% block form %}
		<form enctype="multipart/form-data" id="petreport_form" method="POST" action="{% url 'submit' %}">
		{% endblock form %}

			{% csrf_token %}

			{% block messages %}
			<ul id="messages">
				{% for message in messages %}
					<li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
			  {% endfor %}
			</ul>
			{% endblock messages %}		

			<div style="margin-bottom:20px;">
				{% for error in form.non_field_errors %} <span class="field-error-message"> {{ error }} </span>{% endfor %}
			</div>

      {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}

        {% if "Upload an Image" in field.label %}
          <div id="preview_img">
          	{% block img_path %}
            	<strong style="width:100%; margin-top:50%; display:inline-block; text-align:center; color:gray;"> Pet Picture Preview </strong>
          	{% endblock img_path %}
          </div>
          <p style="margin:5px auto 5px auto;">(*.jpg, *.png, *.bmp), 3MB maximum</p>
          <strong id="rotate_instructions" style="display:none; margin:5px auto 5px auto;">Click on the image to rotate it</strong>
          <input id="id_img_rotation" name="img_rotation" type="hidden" value="0"/>
        {% endif %}
        {{ field }}
      </div>
      {% endfor %}

      <!-- Location Fields -->
      <div id="location-subform" class="form-group" style="padding:10px;">
      	<label style="font-family:epm-font-bolder;">Location of Pet</label>
      	<p>Please fill in details of the pet's whereabouts, if available.</p>
      </div>

      <!-- Contact Fields -->
      <div id="contact-subform" class="form-group" style="padding:10px;">
      	<label style="font-family:epm-font-bolder;">Is someone else the primary contact for this pet?</label>
      	<p>If so, please fill in these details so that the original contact can be notified about this pet report.</p>
      </div>
      <hr/>

      {% block form_action %}
				<div class="form-actions">
					<label> Please verify your submission via RECAPTCHA</label>	
					<div class="g-recaptcha" data-sitekey="6LfkHgITAAAAANIuw-RwYMfOWEMBfeVll9nhrdKa" style="margin-bottom:20px;"></div>
					<input id = "id_submit" class="btn btn-primary" type="button" value="Submit"/>
				</div>
			{% endblock form_action %}
		</form>
	</div>
{% endblock content %}


{% block js %}
	<script src={% static "reporting/js/epm-petreport_form.js" %} type='text/javascript'></script>
	<script src={% static "reporting/js/jquery-rotate.min.js" %} type='text/javascript'></script>
	<script src={% static "reporting/js/select2.js" %} type='text/javascript'></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

	<script type="text/javascript">
		var PETREPORT_TAG_INFO_LENGTH = {{ PETREPORT_TAG_INFO_LENGTH }}
		var PETREPORT_DESCRIPTION_LENGTH = {{ PETREPORT_DESCRIPTION_LENGTH }}
	</script>
{% endblock js %}

{% block css %}
	<link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>	
	<link rel="stylesheet" href={% static "reporting/css/select2.css" %} type="text/css"></
	<link rel="stylesheet" href={% static "reporting/css/select2-bootstrap.css" %} type="text/css"></link>	
{% endblock css %}



