{% load staticfiles %}
{% load petreport_tags %}

{% block dialog_css %}
  <link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>
{% endblock dialog_css %}

{% block dialog_js %} 
  <script type="text/javascript">
    var BOOKMARKED = "{{ user_has_bookmarked }}";
    var USER_ID = "{{ user.id }}";
    var PETREPORT_ID =  "{{ pet_report.id }}";
    var PETREPORT_URL = 'http://{{ site_domain }}/reporting/{{ pet_report.id }}';
    var PETREPORT_IMAGE = 'http://{{ site_domain }}{{ STATIC_URL }}{{ pet_report.img_path }}';
    var PETREPORT_TITLE = 'Pet reporting on #emergencypetmatcher';
    var PETREPORT_CAPTION ='EmergencyPetMatcher';
    var PETREPORT_SUMMARY = '{{ pet_report.status }} {{ pet_report.pet_type }} (Name: {{ pet_report.pet_name }}) is now listed online.';
  </script>    
  <script src = {% static "reporting/js/epm-petreport.js" %} type='text/javascript'></script>    
{% endblock dialog_js %} 

{% block dialog_title %}
  <h4 class="modal-title">{{ pet_report.status }} {{ pet_report.pet_type }}{% if pet_report.pet_name != "" %}: {{ pet_report.pet_name }} {% endif %} {% if pet_has_been_successfully_matched %} - <b style="color:#428bca">Matched! </b> {% endif %}</h4>
{% endblock dialog_title %}

{% block dialog_content %}
  <div id="prdp-container">  
    <!-- Title -->
    <a class="epm-dialog-title" href="/">EmergencyPetMatcher</a>
    <strong class="epm-dialog-title"> 
      {% if pet_report.pet_name != "" %}{{ pet_report.pet_name }}{% else %} Unknown {% endif %}
    </strong>   

    <strong class="epm-dialog-title" style='margin-bottom:10px;'>
      <span class="label label-primary">{{ pet_report.event_tag }}</span>
    </strong>

    <!-- Some logic to give nice header for number of workers -->
    <span style="display:block; text-align:center; color:gray;"> 
      {% if num_workers > 1 %}
        {% if user_is_worker %}
          You and <strong style="font-size:18px;">{{ num_workers|add:"-1" }}</strong> people are working on this pet.
        {% else %}
          <strong style="font-size:18px;">{{ num_workers }}</strong> people are working on this pet.
        {% endif %}
      {% elif num_workers == 1 %}
        {% if user_is_worker %}
          You are working on this pet.
        {% else %}
          <strong style="font-size:18px;">{{ num_workers }}</strong> person is working on this pet.
        {% endif %}
      {% else %}
        Nobody is working on this pet yet.
      {% endif %}  
    </span>

    <!-- Proposed_by link -->
    <span style="text-align:center; display:block">
      {% if edit_petreport %}
        <a href="{% url 'edit' pet_report.id %}">Edit This Pet Report </a>
      {% else %}
        Proposed by <a href="{% url 'get_UserProfile_page' pet_report.proposed_by.id %}">{{ pet_report.proposed_by.user.username }}</a>
      {% endif %}
    </span>         

    {% if not user.is_authenticated %}
      <h4 style="text-align:center;"> You need to be logged in to match this pet.</h4>
    {% endif %}      

    <!-- Messages -->
    {% block messages %}
    <ul id="messages" class="prdp_messages"> 
      {% for message in messages %} 
      <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li> 
      {% endfor %}
    </ul>
    {% endblock messages %}       

    <div id="prdp-overview">
      <!-- Image -->
      <div class="img-wrapper"><img src="{{ MEDIA_URL }}{{ pet_report.img_path }}"/></div>      
      {% show_petreport_table petreport_fields %}
    </div>

    <!-- Proposed Pet Matches -->
    {% if matches %}    
      <hr/>
      <h4 style="text-align:center;"> Proposed Pet Matches </h4> 
      <div id="prdp_pet_thumb_container" class="pet_thumb_container" style="margin-left:auto; margin-right:auto;"> 
        {% for pet_match in matches %} 
          <div class="thumb-wrapper">
              <a link = "{% url 'get_PetMatch' pet_match.id %}" name = "{{ pet_match.lost_pet.pet_name }} and {{ pet_match.found_pet.pet_name }}"
                title="{{ pet_match.lost_pet.pet_name }}: Lost {{ pet_match.lost_pet.pet_type }} / {{ pet_match.found_pet.pet_name }}: Found {{ pet_match.found_pet.pet_type }}">
              <strong>{{ pet_match.lost_pet.pet_name }} and {{ pet_match.found_pet.pet_name }}</strong>
              <img class="pmdp-thumb" src="{{ MEDIA_URL }}{{ pet_match.lost_pet.img_path }}" />
              <img class="pmdp-thumb" src="{{ MEDIA_URL }}{{ pet_match.found_pet.img_path }}"/>
              </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}        
  </div>
{% endblock dialog_content %}

{% block dialog_footer %}
  <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
  <button id="prdp-share" type="button" class="btn btn-info btn-lg">Share</button>
  {% if user.is_authenticated %}
    {% csrf_token %}
    <button id="prdp-bookmark" type="button" class="btn btn-success btn-lg">Bookmark</button>
    {% if not pet_has_been_successfully_matched %}
      <a href="{% url 'match' pet_report.id %}" type="button" class="btn btn-primary btn-lg">Match this Pet</a>
    {% endif %}
  {% endif %}
{% endblock dialog_footer %}

