{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang = "en">
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}Pet Report Detailed Page{% endblock head_title %}</title>
  </head>

  <body>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ pet_report.status }} {{ pet_report.pet_type }}{% if pet_report.pet_name != "" %}: {{ pet_report.pet_name }} {% endif %} {% if pet_has_been_successfully_matched %} - <b style="color:#428bca">Matched! </b> {% endif %}</h4>
    </div>

    <div id="prdp-container" class="modal-body">   
      <!-- Title -->
      <a class="epm-dialog-title" href="/">EmergencyPetMatcher</a>
      <strong class="epm-dialog-title" style="font-size:24px; margin-bottom:10px;"> 
        {% if pet_report.pet_name != "" %}{{ pet_report.pet_name }}{% else %} Unknown {% endif %}
      </strong>   

      <!-- Some logic to give nice header for number of workers -->
      <span style="display:block; text-align:center; color:gray;"> 
        {% if num_workers > 1 %}
          {% if user_is_worker %}
            You and <strong style="font-size:18px;">{{ num_workers|add:"-1" }}</strong> people are working on this pet.
          {% else %}
            <strong style="font-size:18px;">{{ num_workers }}</strong> people are working on this pet.
          {% endif %}
        {% elif num_workers == 1 %}
          {% if user_is_worker %}
            You are working on this pet.
          {% else %}
            <strong style="font-size:18px;">{{ num_workers }}</strong> person is working on this pet.
          {% endif %}
        {% else %}
          Nobody is working on this pet yet.
        {% endif %}  
      </span>

      <!-- Proposed_by link -->
      <span style="text-align:center; display:block">
        {% if edit_petreport %}
          <a href="{% url 'edit' pet_report.id %}">Edit This Pet Report </a>
        {% else %}
          Proposed by <a href="{% url 'get_UserProfile_page' pet_report.proposed_by.id %}">{{ pet_report.proposed_by.user.username }}</a>
        {% endif %}
      </span>         

      {% if not user.is_authenticated %}
        <h4 style="text-align:center;"> You need to be logged in to match this pet.</h4>
      {% endif %}      

      <!-- Messages -->
      {% block messages %}
      <ul id="messages" class="prdp_messages"> 
        {% for message in messages %} 
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li> 
        {% endfor %}
      </ul>
      {% endblock messages %}       

      <div id="prdp-overview">
        <!-- PRDP Image -->
        <div class="img-wrapper">
            <img src="{{ MEDIA_URL }}{{ pet_report.img_path }}"/>
        </div>
        
        <!-- Information pertaining to the PRDP -->
        <!-- Pet Info -->
        <table id="prdp-info-table" class="epm-table table table-hover">
          <tbody>
            {% for field in pet_fields %}
            <tr>
              <td class="pet-info-header"> {{ field.0 }}</td>
              <td class="pet-info-data"> {{ field.1 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Proposed Pet Matches -->
      {% if matches %}    
        <hr/>
        <h4 style="text-align:center;"> Proposed Pet Matches </h4> 
        <div id="prdp_pet_thumb_container" class="pet_thumb_container" style="margin-left:auto; margin-right:auto;"> 
          {% for pet_match in matches %} 
            <div class="thumb-wrapper">
                <a link = "{% url 'get_PetMatch' pet_match.id %}" name = "{{ pet_match.lost_pet.pet_name }} and {{ pet_match.found_pet.pet_name }}"
                  title="{{ pet_match.lost_pet.pet_name }}: Lost {{ pet_match.lost_pet.pet_type }} / {{ pet_match.found_pet.pet_name }}: Found {{ pet_match.found_pet.pet_type }}">
                <strong>{{ pet_match.lost_pet.pet_name }} and {{ pet_match.found_pet.pet_name }}</strong>
                <img class="pmdp-thumb" src="{{ MEDIA_URL }}{{ pet_match.lost_pet.img_path }}" />
                <img class="pmdp-thumb" src="{{ MEDIA_URL }}{{ pet_match.found_pet.img_path }}"/>
                </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}        
    </div>

    <div class="modal-footer" >
      <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
      <button id="prdp-share" type="button" class="btn btn-info btn-lg">Share</button>
      {% if user.is_authenticated %}
        {% csrf_token %}
        <button id="prdp-bookmark" type="button" class="btn btn-success btn-lg">Bookmark</button>
        {% if not pet_has_been_successfully_matched %}
          <a href="{% url 'match' pet_report.id %}" type="button" class="btn btn-primary btn-lg">Match this Pet</a>
        {% endif %}
      {% endif %}
    </div>   
  </body>

  <!-- CSS -->
  <link rel="stylesheet" href={% static "home/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "matching/css/style.css" %} type="text/css"></link>

  <!-- Javascript & JQuery -->
  <script src={% static "home/js/jquery-1.9.1.min.js" %} type="text/javascript"></script>
  <script src={% static "home/js/bootstrap.min.js" %} type="text/javascript"></script>

    <!-- Include the wookmark plug-in -->
  <script src={% static "home/js/jquery-wookmark.js" %} type="text/javascript"></script>

  <!-- Include the imagesLoaded plug-in -->
  <script src={% static "home/js/jquery-imagesloaded.js" %} type="text/javascript"></script>
  <script src={% static "home/js/jquery-zoom.js" %} type="text/javascript"></script>  

  {% block css %}{% endblock css %}
  {% block js %} 
    <!-- Page-specific JS goes in this block -->   
    <script src = {% static "reporting/js/epm-petreport.js" %} type='text/javascript'></script>     
    <script type="text/javascript">
      var BOOKMARKED = "{{ user_has_bookmarked }}";
      var USER_ID = "{{ user.id }}";
      var PETREPORT_ID =  "{{ pet_report.id }}";
      var PETREPORT_URL = 'http://{{ site_domain }}/reporting/{{ pet_report.id }}';
      var PETREPORT_IMAGE = 'http://{{ site_domain }}{{ STATIC_URL }}{{ pet_report.img_path }}';
      var PETREPORT_TITLE = 'Pet matching on #emergencypetmatcher';
      var PETREPORT_CAPTION ='EmergencyPetMatcher';
      var PETREPORT_SUMMARY = '{{ pet_report.status }} {{ pet_report.pet_type }} (Name: {{ pet_report.pet_name }}) is now listed online.';
    </script>    
  {% endblock js %} 
  {% block headers %} {% endblock headers %} 

</html>

