{% extends "home/index.html" %}
{% load staticfiles %}
{% load petmatch_tags %}

{% block css %}
  <link rel="stylesheet" href={% static "matching/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "verifying/css/style.css" %} type="text/css"></link>
  <link rel="stylesheet" href={% static "reporting/css/style.css" %} type="text/css"></link>
{% endblock css %}

{% block js %}
  <script src={% static "verifying/js/epm-verify_petmatchcheck.js" %} type="text/javascript"></script>
  <script type="text/javascript">
    var STATIC_URL = "{{ STATIC_URL }}";
    var USER_ID = "{{ user.id }}";
    var PETMATCH_ID = "{{ petmatch.id }}"
    var USER_HAS_VERIFIED = "{{ user_has_verified }}";
    var USER_HAS_VOTED = "{{ user_has_voted }}";
    var NUM_DOWNVOTES = "{{ num_downvotes }}";
    var NUM_UPVOTES = "{{ num_upvotes }}";
    var USER_IS_OWNER = "{{ user_is_owner }}";
    var LOST_PETREPORT_ID = "{{ lost_petreport_id }}";
    var FOUND_PETREPORT_ID = "{{ found_petreport_id }}";
  </script>
{% endblock js %}

{% block content %}
<div id="content" style="width:700px;">

  <div class="alert alert-warning" role="alert" style="font-weight:bold; text-align:center; margin:20px; font-size:1.3em;">
    Have you met with the other pet contact? Is this match a success? Please submit your response by selecting one of the choices below.
  </div>

  <!-- PMDP Title -->
  <strong class="epm-dialog-title" style="font-size:24px; margin-bottom:10px;">
    <a id="lost-prdp-link" href="{% url 'get_PetReport' petmatch.lost_pet.id %}">{{ petmatch.lost_pet.pet_name }}</a> and
    <a id="found-prdp-link" href="{% url 'get_PetReport' petmatch.found_pet.id %}">{{ petmatch.found_pet.pet_name }}</a>
  </strong>

  <!-- Proposed_by link -->
  <span style="text-align:center; display:block">
    Proposed by <a href="{% url 'get_UserProfile' petmatch.proposed_by.id %}">{{ petmatch.proposed_by.user.username }}</a>
  </span>

  <!-- Some logic to give nice header for number of voters -->
  <span style="display:block; text-align:center; margin-bottom:10px; color:gray;">
    {% if num_voters > 1 %}
      {% if user_has_voted %}
        You and <strong style="font-size:18px;">{{ num_voters|add:"-1" }}</strong> people have voted on this match.
      {% else %}
        <strong style="font-size:18px;">{{ num_voters }}</strong> people have voted on this match.
      {% endif %}
    {% elif num_voters == 1 %}
      {% if user_has_voted %}
        You have voted for this match.
      {% else %}
        <strong style="font-size:18px;">{{ num_voters }}</strong> person has voted on this match.
      {% endif %}
    {% else %}
      Nobody has voted on this match yet.
    {% endif %}
  </span>

  <!-- Pet Pictures -->
  <div id="pmdp-overview">
    <div id="pmdp-pics">
      <div id="lost_pet_pic_wrapper" class="img-wrapper" style="float:left;">
        <img class="pet_pic" src="{{ MEDIA_URL }}{{ petmatch.lost_pet.img_path }}"/>
      </div>
      <div id="found_pet_pic_wrapper" class="img-wrapper">
        <img class="pet_pic" src="{{ MEDIA_URL }}{{ petmatch.found_pet.img_path }}"/>
      </div>
    </div>
  </div>

  {% show_petmatch_table petreport_fields %}

  <div class="modal-footer">
  {% if profile in contacts %}
    {% if not user_has_verified %}
      <h4 style='text-align:center;'> Verify this Pet Match </h4>
      <span style="display:block; text-align:center; margin-bottom:10px; color:gray;">
      </span>

      <form method="post" style="text-align:center;" action="{% url 'verify_PetMatchCheck' petmatchcheck.id %}" >
        {% csrf_token %}
        <select id="verify-choice" class="form-control" name="verify-choice">
          <option value="1">Yes, these pets are a match!</option>
          <option value="2">No, these pets are not a match.</option>
        </select>

        <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
      </form>
    {% endif %}
  {% endif %}
  </div>
</div>
{% endblock content %}
