{% extends "home/index.html" %}
{% load url from future %}
{% block js %}
	<script src="{{ STATIC_URL }}js/local/epm-login.min.js" type='text/javascript'></script>
{% endblock js %}

{% block head_title %} EPM - Login {% endblock head_title %}
{% block activity_feed %}{% endblock activity_feed %}
{% block share %} {% endblock share %}

{% block menu %}
<!-- Navigation Menu -->
<ul id="menu">
	<li><a href="{% url 'home' %}"> Home</a></li>
	<li><a href= "{% url 'login_User' %}?next={% firstof request.path '/' %}" class="active">Login/Register</a></li>
	<li><a href="{% url 'about' %}">About</a></li>
	<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dG9XTzRzNlB3Nl9KWGRMb2Jnd2tObnc6MQ#gid=0">Feedback</a></li>
</ul>				
{% endblock menu %}				

{% block content %}	
	<div id="content" style="padding:0px 10px 0px 10px; border:2px solid gray; width:500px; background-color: #E8E8E8">
		{% block messages %}<ul id="messages">{% for message in messages %}<li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>{% endfor %}</ul>{% endblock messages %}

		{% block content_title %} <h2 style="">Login</h2>{% endblock content_title %}
		{% block content_subtitle %} <h3 style=""> Please log in below, log in using Twitter or Facebook, or if you haven't signed up for an account yet, please register below. </h3>{% endblock content_subtitle %}

		<div id="form_container" style="font-size:16px;">
			<form method="post" action= "{% url 'login_User' %}">
				{% csrf_token %}
					<table>
						{% for field in form %}
						<tr>
					    	<td><strong>{{ field.label_tag }}</strong></td>
					    	<td>{{ field }}</td>
						</tr>
						{% endfor %}
					</table>
				<input type="hidden" name="next" value="{{ next }}"/><br/>
				<input type="submit" value="Login" style="width:100px; height:25px; font-weight:bold; font-size:16px;"/>
				<p/><a href = "{% url 'auth_password_reset' %}"> Forgot your Password? </a>
			</form>
		</div>

		<p/><h3><a href = "{% url 'registration_register' %}">Register Here</a>  or</h3>

		                	
		<!-- Social Login Buttons -->
		<div style="margin-top:10px; margin-bottom:10px;">
			<img src="{{ STATIC_URL }}/images/icons/icn-twitter.png" width="22" height="22"></img>
			<a href="{% url 'socialauth_begin' 'twitter' %}">Enter using Twitter</a>
		</div>
		<!-- Facebook 
		<div style="margin-top:10px; margin-bottom:10px;">
			<img src="{{ STATIC_URL }}/images/icons/icn-facebook.png" width="22" height="22"></img>
			<a href="{% url 'socialauth_begin' 'facebook' %}">Enter using Facebook</a><br/>
		</div> -->
	</div>
{% endblock content %}



