{% extends "index.html" %}

{% block title %} EPM - Login {% endblock title %}

{% block headers %}

<script src="https://browserid.org/include.js" type="text/javascript"></script>
{% endblock headers %}

{% block header_title %}
<h3> Log in below </h3>
{% endblock header_title %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="form_container">
	<form method="post" action={% url auth_login %}>
		{% csrf_token %}
		<table>
		<tr>
		    <td>{{ form.username.label_tag }}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{{ form.password.label_tag }}</td>
		    <td>{{ form.password }}</td>
		</tr>
		</table>
		<input type="submit" value="Login" float="right"/>
		<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
	</form>
</div>
<br/>
<p/> <h3> <a href = {% url registration_register %}> Register Here </a></h3>

<p/>Twitter: <a rel="nofollow" href={% url socialauth_begin 'twitter' %}>Enter using Twitter</a><br/>
<p/>Facebook: <a rel="nofollow" href={% url socialauth_begin 'facebook' %}>Enter using Facebook</a><br/>

{% endblock content %}

