{% extends "base.html" %}

{% block heading %}Password Reset Form{% endblock %}
{% block title %} EPM - Password Reset {% endblock title %}

{% block header_title %}
<h3>Please put in your email address so that we can send you an email with a link to reset your password.</h3>
{% endblock header_title %}

{% block content %}
{% if form.errors %}<p><strong>{{ form.errors }}</strong></p>{% endif %}
	
	<div class="form_container">
		<form action = "" method = "post">
			{% csrf_token %}
			<table>
				{% for field in form %}
				<tr>
			    	<td><strong>{{ field.label_tag }} </strong></td>
			    	<td>{{ field }}</td>
				</tr>
				{% endfor %}
			</table>
	 		<br><input type="submit" value="Send" /></br>
		</form>
	</div>
{% endblock %}