{% extends "home/index.html" %}

{% block js %}
  <script src = "{{ STATIC_URL }}js/local/epm-registration_form.min.js" type = 'text/javascript'></script> 
{% endblock js %}

{% block head_title %} EPM - Fill out Social Account {% endblock head_title %}
{% block activity_feed %}{% endblock activity_feed %}

{% block content %}
<div id="content" style="padding:0px 10px 0px 10px; border:2px solid gray; width:500px; background-color: #E8E8E8">
  {% block content_title %} <h2>Fill out your social account </h2>{% endblock content_title %}
  {% block content_subtitle %} <h3>Please give us some information for your social media account so that we can create a full profile for you.</h3> {% endblock content_subtitle %}

  {% block messages %}
  <ul id="messages"> {% for message in messages %} <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li> {% endfor %}</ul>
  {% endblock messages %}  

  <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
    	<table cellpadding=5>
    		<tr>
    			<td><label for="id_username">Username:</label></td>
       		<td><input type="text" name="username" id="username_id" value="{{username}}" /> <font color=red size=+1>*</font></td>
       		</tr>
	    	<tr>
	    		<td><label for="email_id">Email:</label></td>
       		<td><input type="text" name="email" id="email_id" value="{{email}}" /> <font color=red size=+1>*</font></td>             
       	</tr>
       	<tr>
	    		<td><label for="first_name_id">First Name:</label></td>
       		<td><input type="text" name="first_name" id="first_name_id" value="{{first_name}}" /></td>
       	</tr>
       	<tr>
	    		<td><label for="last_name_id">Last Name:</label></td>
       		<td><input type="text" name="last_name" id="last_name_id" value="{{last_name}}" /></td>
       	</tr>
       	<tr>
       		<td><label for="profile_pic_id">Profile Picture:</label></td>
          <td><img id="profile_pic_id" src='{{ pic_url }}' width=200 height=200/></td>
       	</tr>
        <tr>
          <td><label for="id_date_born">Date of Birth:</label></td>
          <td><input id="id_date_born" type="text"/></td>
        </tr>

        <!-- T&C -->
        <tr>
          <td></td>
          <td>
            <div style="padding-bottom:15px; padding-top:15px; width:300px;">
              <input id="id_tc_check" type="checkbox"/>
              <a id="id_tc_link" name="Terms and Conditions" href= "#" > I accept the terms and conditions.</a> 
            </div>
          </td>
        </tr>

        <tr>
          <td>
              <input id="id_register_button" class="epm_button" type="submit" style="width:100px; height:30px;" value="Submit" disabled/>
          </td>
          <td>
              <input id="id_cancel_button" class="epm_button" type="submit" style="width:100px; height:30px;" formaction="{% url 'home' %}" value="Cancel"/>     
          </td>
        </tr> 
      </table>
  </form>
</div>
{% endblock content %}

