{% extends "home/index.html" %}
{% block head_title %} EPM - Password Reset {% endblock head_title %}

{% block content %}
<div id="content" style="width:500px;">
	{% block content_subtitle %}
		<h3 style="text-align:center;"> Please put in your email address so that we can send you an email with a link to reset your password. </h3>
	{% endblock content_subtitle %}

	<form role="form" method="post" style="margin-top:20px;">
		{% csrf_token %}
		<div class="form-group" style="width:400px;">
			<label for="email">Email</label>
			<input class="form-control" autofocus="true" name="email" placeholder="Enter Email Address">
		</div>

		<div class="form-actions">
			<input class="btn btn-primary" type="submit" value="Send"/>
			<a href="{% url 'login_User' %}" class="btn btn-default">Back</a>
		</div>
	</form>
</div>
{% endblock content %}
