<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Simpleton 
Version    : 1.0
Released   : 20110315
Description: A two-column web design, best for your personal and business blogging.

-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Project EPIC PetMatch</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- CSS Reset -->
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#">There's No Place Like Home</a></h1>
		<p>project epic</p>
	</div>
	
</div>
<br/><br/><br/><br/>
<!-- end header -->
<!-- start page -->
<div id="wrapper">
<h1>Thanks for your interest in our CHI 2012 SDC submission.</h1>

<a href="NPLH Supp Materials.pdf">Click here to find out more about our project!</a><br/><br/><br/>

<iframe width="420" height="315" src="http://www.youtube.com/embed/OKgMR6zxwoQ" frameborder="0" allowfullscreen></iframe>
</div>

</body>
</html>
