/*CSS for the edit profile page*/


#userprofile-dashboard {
	margin: 10px auto;
	width: 720px;
}

#userprofile-dashboard-info {
	display:inline-block;
	margin-left:10px;
	vertical-align:top;
}

#userprofile-dashboard-actions {
	
}

#user-info-table {
	width: 480px;
	height:200px;
	display:inline-block;
}

#user-info-table .user-info-header {
	display:inline-block;
	width:150px;
	font-weight:bold;
	text-align: right;
}

#user-info-table .user-info-data {
	display:inline-block;
	width:300px;
	text-align: left;
}


.userprofile-thumb-container {
	margin:10px auto 30px auto;
	border: 2px solid white;
	min-width: 200px;
	height: 125px;
	overflow: auto;
	overflow-y:hidden;
	white-space: nowrap;	
}

.edit-userprofile-form {
	margin-bottom:30px;
}

.userprofile-thumb {
	height:70px;
}

.userprofile-img-wrapper {
	max-height: 250px;
	display:inline-block;
}

.userprofile-img-wrapper img {
	max-height:245px;
	width:225px;
}