{% extends 'home/index.html' %}
{% load url from future %}
{% block head_title %} Edit your Profile Information  {% endblock head_title %}
{% block js %}
	<script type = 'text/javascript'> 
		var USER_ID = "{{ user.id }}";
		var USERPROFILE_ID = "{{ user.get_profile.id }}"; 
	</script>
	<script src = "{{ STATIC_URL }}js/local/epm-edituserprofile_form.js" type = 'text/javascript'></script> 
{% endblock js %}
{% block activity_feed %}{% endblock activity_feed %}
	
{% block content %}
<div id="content" style="margin-top:20px; padding:10px 10px 0px 10px; border:2px solid gray; width:600px; height:650px; background-color: #E8E8E8">
	{% block messages %}
	<ul id="messages"> {% for message in messages %} <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>{% endfor %}</ul>
	{% endblock messages %}

	<!-- Update UserProfile information -->
	{% if update_User_info_form %}
	<strong class = "edit_profile_subtitle">Edit Your Personal Information</strong>
	<form id="update_User_info_form" enctype="multipart/form-data" method="POST" name="update_User_info" class="edit_profile_input_box" action="{% url 'update_User_info' %}">
		{% csrf_token %}
		<table>
			{% if profile_picture %}
				<tr><td><img src="{{ STATIC_URL }}{{ profile_picture }}" style="width:128px; height:128px; margin: 10px 10px 10px 0px; vertical-align:baseline; border:1px solid black;"></td></tr>
			{% endif %}
			{% for field in update_User_info_form %}
					<tr>
						<td><strong> {{ field.label }}</strong></td>
						<td ><div style="margin-left:40px;">{{ field }}</div></td>
					</tr>
			{% endfor %}
		</table>
		<input id="update_User_info_button" type="button" value="Save" style= "width:100px; height:25px; float:left;" />
	</form>
	{% endif %}

	<hr size="10" width="100%" color="white"/>

	<!-- Update User Password  -->
	{% if update_User_pwd_form %}
	<strong class = "edit_profile_subtitle">Change your Password</strong>
	<form id="update_User_pwd_form" enctype="multipart/form-data" method="POST" name="update_User_pwd" class="edit_profile_input_box" action="{% url 'update_User_password' %}">
		{% csrf_token %}
		<table>
			{% for field in update_User_pwd_form %}
				<tr>
					<td><strong> {{ field.label }} </strong></td>
					<td><div style="margin-left:40px;">{{ field }}</div></td>
				</tr>
			{% endfor %}
		</table>
		<input id="update_User_pwd_button" type="button" value="Save" style= "width:100px; height:25px; float:left;" />
	</form>	
	{% endif %}

	<br/><a class="epm_button" href="{% url 'get_UserProfile_page' user.get_profile.id %}">Back to Profile</a>
</div>
{% endblock content %}







