{% extends 'home/index.html' %}
{% load url from future %}
{% block head_title %} Edit your Profile Information  {% endblock head_title %}
{% block js %}
	<script type = 'text/javascript'>
		var user_id = "{{ user.id }}";
		
		function saveProfile(){
			// alert("we shall now save your changes!");
			
	        /*an anonymous user shouldn't be able to acess the bookmarks page*/
	        if (user_id == "None"){
	            return false;
	        }
        	var csrf_value = $(".edit_profile_input_box input").attr("value");
	        email = $("#id_email").attr("value");
	        first_name = $("#id_first_name").attr("value");
	        last_name = $("#id_last_name").attr("value");
	        username = $("#id_username").attr("value");
	        /*ajax request to save the changes*/
	        $.ajax({

	          type:"POST",
	          url:"{% url 'editUserProfile_page' %}",
	          data: {"csrfmiddlewaretoken":csrf_value, "action":"saveProfile","username":username,"first_name":first_name,"last_name":last_name,"email":email},
	            success: function(data){
	            	$(".edituserprofile_messages").html(data.message);
	            	
	              return true;
	            },
	            error: function(data){
	              alert("An unexpected error occurred when trying to save your changes. Please try again."); 
	              return false;
	            }
	        });
	        return true;
		}
		function savePassword(){

			
	        /*an anonymous user shouldn't be able to acess the bookmarks page*/
	        if (user_id == "None"){
	            return false;
	        }
	        var csrf_value = $("#edit_profile_password input").attr("value");
	        old_password = $("#id_old_password").attr("value");
	        new_password = $("#id_new_password").attr("value");
	        confirm_password = $("#id_confirm_password").attr("value");       
	        /*ajax request to save the password changes*/
	        $.ajax({

	          type:"POST",
	          url:"{% url 'editUserProfile_page' %}",
	          data: {"csrfmiddlewaretoken":csrf_value, "action":"savePassword","old_password":old_password,"new_password":new_password,"confirm_password":confirm_password},
	            success: function(data){
	            	
	            	$("#id_old_password").attr("value","");
	            	$("#id_new_password").attr("value","");
	            	$("#id_confirm_password").attr("value","");
	            	$(".edituserprofile_messages").html( data.message );
           	
	              return true;
	            },
	            error: function(data){
	              // alert("An unexpected error occurred when trying to save your changes. Please try again."); 
	              $(".edituserprofile_messages").html("<li class='error'>" + data.message + "</li>");
	              alert(message);
	              return false;
	            }
	        });
	        return true;
		}
	</script> 
{% endblock js %}
{% block content_title %} Edit your Profile {% endblock content_title %}
	
	{% block content %}
		
			<div class = "edit_profile_subtitle">
				Edit your Personal Information
			</div>
			<div class = "edit_profile_input_box">
				{% csrf_token %}
				<table>
					{% for field in form1 %}
						<tr>
							<td><strong> {{ field.label }} </strong></td>
							<td ><div style="margin-left:40px;">{{ field }}</div></td>
						</tr>
					{% endfor %}
				</table>
			</div>	
			<input type="button" value="Save" style= "width:100px; height:25px; float:left;" onclick = "saveProfile()"/>
			{% if form2 %}
				<div id = "edit_profile_password" style = "margin-top:75px;">	
					{% csrf_token %}
		 			<div class = "edit_profile_subtitle">
						Change your Password
					</div>
					<div class = "edit_profile_input_box" >
						<table>
							{% for field in form2 %}
								<tr>
									<td><strong> {{ field.label }} </strong></td>
									<td ><div style="margin-left:40px;">{{ field }}</div></td>
								</tr>
							{% endfor %}
						</table><br/>
					</div>
					<input type="button" value="Submit" style= "width:100px; height:25px; float:left;" onclick = "savePassword()" />
				</div>	
			{% endif %}
		
	{% endblock content %}

	{% block messages %}
		<ul id="messages" class="edituserprofile_messages" >
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>   	
	{% endblock messages %}