{% extends 'home/index.html' %}
{% load url from future %}

{% block js %}
<script src = "{{ STATIC_URL }}/js/local/epm-userprofile.js" type = 'text/javascript'></script>
{% endblock js %}

{% block head_title %}EPM - User Profile: {{ show_profile.user.username }} {% endblock head_title %}
{% block content_title %} User Profile {% endblock content_title %}

{% block content %}
	
	<table border=0 width="100%">
	<tr>
	<td width="70%">
			<table>
			<tr>
				<td style="padding: 0px 30px 0px 0px;">
					{% if show_profile.photo %}		
						<img src="{{ STATIC_URL }}{{ show_profile.photo }}" width=95 height=95/>	
					{% else %}
						<img src="{{ STATIC_URL }}/images/defaults/anonymous.gif" width=95 height=95/>
					{% endif %}
				</td>
				<td style="padding: 0px 20px 0px 0px;">
					{% if show_profile.user.username == user.username %}
						<h2>&nbsp;<i>Hi, {{ show_profile.user.username }}</i></h2>
					{% else %}
						<h2>&nbsp;{{ show_profile.user.username }}</h2>
					{% endif %}
					{% ifequal show_profile.user.username user.username %}
					<a class = "prdp_eachbutton" style="float:right;" href = "{% url 'editUserProfile_page' %}"> Edit your Profile </a>
					{% endifequal %}

				</td>
				<!-- Put this in once reputation points are ready 
				<td style="width:200px; background-color:white;">
					<h3 style="text-align:center;"> Social Points </h3>
					<div>
						<h3 style="text-align:center; font-size:16px; color:blue;">{{ show_profile.reputation }} </h3>
					</div>
				-->
				</td>
			</tr>
			</table>

			<!-- Follow link -->
			{% if show_profile.user.username != user.username %}
				{% if not show_profile in user.userprofile.following.all %}
					<a href="{% url 'follow' user.userprofile.id show_profile.id %}">Follow</a>
				{% else %}
					<a href="{% url 'unfollow' user.userprofile.id show_profile.id %}">Unfollow</a>

				{% endif %}
			{% endif %}
			
			<!-- User Data -->
			<hr size="10" width="100%" color="white"/>
			<h3>User Data:</h3>
				<table>
				{% if show_profile.user.username == user.username or show_profile in user.userprofile.following.all %}
			    	<tr align="left"><th>Username:</th> <td>{{ show_profile.user.username }}</td></tr>
				    <tr align="left"><th>Email:</th> <td>{{ show_profile.user.email|default:"Not provided" }}</td></tr>
				    <tr align="left"><th>First name:</th> <td>{{ show_profile.user.first_name|default:"Not provided" }}</td></tr>
				    <tr align="left"><th>Last name:</th> <td>{{ show_profile.user.last_name|default:"Not provided" }}</td></tr>
		    	{% endif %}
		    	{% if show_profile.user.username == user.username %}
		    		<tr align="left"><th>Last login:</th> <td>{{ show_profile.user.last_login }}</td></tr>
		    	{% endif %}
				</table>
				</br>
			
			<!-- Proposed Pet Reports -->
			<h3>Proposed Pet Reports:</h3>
		    <div class="prdp_ppm_wk">	
		    	<div class = "prdp_overflow1"> 
					{% for pet_report in show_profile.petreport_set.all %}
					<div class="prdp_dialog">
						<a class="prdp_pmdp_dialog_pr" href= "{% url 'disp_PetReport' pet_report.id %}" 
						name = "{{ pet_report.pet_name }}"
						style="text-decoration:none; color:#663399; font-size:12px;}"
						title="{% if pet_report.pet_name %}{{ pet_report.pet_name }}: {% endif %}{{ pet_report.status }} {{ pet_report.pet_type }}">
						<strong>&nbsp;&nbsp;{{ pet_report.pet_name }}</strong><br/>
						<img src="{{ STATIC_URL }}{{ pet_report.img_path }}" border=1 width=60 height=60/>
						</a>
					</div>
					{% endfor %}
			    </div>
			</div>	
			

			<!-- Proposed Pet Matches -->			
			<h3> Proposed Pet Matches </h3>
	 		<div class="prdp_ppm_wk">   
	 			<div class = "prdp_overflow1">      
	 			{% for pet_match in show_profile.proposed_by_related.all %}	
	 				<div class="pmdp_dialog">
			            <a class="prdp_pmdp_dialog_pr" 
			            	href = "{% url 'display_PetMatch' pet_match.id %}" name = ""
			            	style="text-decoration:none; color:#663399; font-size:12px;}"
			           		title="{{ pet_match.lost_pet.pet_name }}: Lost {{ pet_match.lost_pet.pet_type }} / {{ pet_match.found_pet.pet_name }}: Found {{ pet_match.found_pet.pet_type }}">
							&nbsp;&nbsp;{{ pet_match.lost_pet.pet_name }} / {{ pet_match.found_pet.pet_name }}</br>
							<img src="{{ STATIC_URL}}{{ pet_match.lost_pet.img_path }}" width="60" height="60"/>
							<img src="{{ STATIC_URL}}{{ pet_match.found_pet.img_path }}" width="60" height="60"/>
	             	    </a>
	             	</div>
	            {% endfor %}
	            </div>
	        </div>
			
 
			<!-- Working on Pet Report -->
	     	<h3>Working-On Pet Reports:</h3>
	     	<div class="prdp_ppm_wk">   
	 			<div class = "prdp_overflow1">      				
				{% for pet_report in show_profile.workers_related.all %}
				    <div class="prdp_dialog">
						<a class="prdp_pmdp_dialog_pr" href= "{% url 'disp_PetReport' pet_report.id %}" 
							name = "{{ pet_report.pet_name }}"
							style="text-decoration:none; color:#663399; font-size:12px;}"
							title="{% if pet_report.pet_name %}{{ pet_report.pet_name }}: {% endif %}{{ pet_report.status }} {{ pet_report.pet_type }}">
							<strong>&nbsp;&nbsp;{{ pet_report.pet_name }}</strong><br/>
							<img src="{{ STATIC_URL }}{{ pet_report.img_path }}" border=1 width=60 	height=60/>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
					
			</br>
			</br>
  
	</td>

	<td width="30%">

			<table border=0 cellpadding=15>
			<tr>
				<td>
				<!-- Following list -->
				<h3>Following:</h3>
				<div class="prdp_ppm_wk2">  
					<div class = "prdp_overflow2">  
					{% for following in show_profile.following.all %}
						<a  class="prdp_pmdp_dialog_pr2"
							href="{% url 'get_UserProfile_page' following.user.id %}"
							style="text-decoration:none; color:green; font-size:12px;}"
							title="{% if following.user.first_name %} {{ following.user.first_name }} {% endif %}@{{ following.user.username }}">
							{% if following.photo %}
								<img src="{{ STATIC_URL }}{{ following.photo }}" width=60 height=60/>
							{% else %}
								<img src="{{ STATIC_URL }}images/defaults/anonymous.gif" width=60 height=60/>
							{% endif %}	
						</a>
	
					{% endfor %}
					</div>	
				</div>							
				</td>
			</tr>

			<tr>
				<td></br>
				<!-- Follower list -->
				<h3>Followers:</h3>
				<div class="prdp_ppm_wk2">  
					<div class = "prdp_overflow2">  	
					{% for follower in show_profile.followers.all %}	
						<a  class="prdp_pmdp_dialog_pr2"
							href="{% url 'get_UserProfile_page' follower.user.id %}"
						   	style="text-decoration:none; color:green; font-size:12px;}"
						   	title="{% if follower.user.first_name %} {{ follower.user.first_name }} {% endif %}@{{ follower.user.username }}">
							{% if follower.photo %}
								<img src="{{ STATIC_URL }}{{ follower.photo }}" width=60 height=60/>
							{% else %}
								<img src="{{ STATIC_URL }}images/defaults/anonymous.gif" width=60 height=60/>
							{% endif %}	
						</a>			
					{% endfor %}
					</div>
				</div>															
				</td>
			</tr>

			</table>

	</td>
	</tr>

	</table>

{% endblock content%}
