{% extends 'home/index.html' %}
{% load url from future %}

{% block js %}
<script src = "{{ STATIC_URL }}/js/local/epm-userprofile.min.js" type = 'text/javascript'></script>
{% endblock js %}
{% block head_title %}EPM - User Profile: {{ show_profile.user.username }} {% endblock head_title %}

{% block menu %}
<!-- Navigation Menu -->
<ul id="menu">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li> <a href="{% url 'get_UserProfile_page' user.get_profile.id %}" class="active">{{ user.username }}</a></li>
	<li>
		<form method = "post" action= "{% url 'logout_User' %}">
			{% csrf_token %} <input id="logout" type="submit" value="Logout"/>
		</form>
	</li>
	<li><a href= "{% url 'submit_PetReport' %}">New Pet Report</a></li>
	<li><a href="{% url 'about' %}">About</a></li>
	<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dG9XTzRzNlB3Nl9KWGRMb2Jnd2tObnc6MQ#gid=0">Feedback</a></li>
</ul>				
{% endblock menu %}	
{% block activity_feed %}{% endblock activity_feed %}


{% block content %}
<div id="content" style="padding:10px 10px 10px 10px; margin-top:20px; border:2px solid gray; width:1000px; background-color: #E8E8E8">

	{% block messages %}
	<ul id="messages"> {% for message in messages %} <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li> {% endfor %}</ul>
	{% endblock messages %}

	<!-- UserProfile information at the top -->
	<div style="width:500px; max-height:500px; margin-left:auto; margin-right:auto; margin-bottom:20px;">
		<div style="display:inline-block; margin-right:10px; ">	
			<img src="{{ STATIC_URL }}{{ show_profile.img_path }}" style="width:128px; height:128px; vertical-align:baseline; border:1px solid black;"/>	
		</div>

		<div style="padding: 0px 20px 0px 0px; display:inline-block;">
			<strong style="font-size:18px;">{{ show_profile.user.username }}</strong>
			<!-- UserProfile Information: show if the UserProfile looking at this is show_profile OR that show_profile is being followed by this UserProfile -->
			<table style="margin-top:10px; margin-bottom:10px;">
			{% if user.userprofile.id == show_profile.user.userprofile.id or show_profile in user.userprofile.following.all %}
			    <tr align="left"><th>First name:</th> <td>{{ show_profile.user.first_name|default:"" }}</td></tr>
			    <tr align="left"><th>Last name:</th> <td>{{ show_profile.user.last_name|default:"" }}</td></tr>
			    <!-- Show when reputation is ready <tr align="left"><th>Social Points:</th><td style="font-weight:bold;"> {{ show_profile.reputation }} </td></tr> -->
	    	{% endif %}
	    	{% if show_profile.user.username == user.username %}
	    		<tr align="left"><th>Email:</th> <td>{{ show_profile.user.email|default:"" }}</td></tr>
	    		<tr align="left"><th>Last login:</th><td>{{ show_profile.user.last_login }}</td></tr>
	    	{% endif %}
			</table>
			<div style="width:200px;">
			{% ifequal show_profile.user.username user.username %}
				<a class = "epm_button" style="margin:0px;" href = "{% url 'editUserProfile_page' %}"> Edit your Profile </a>
			{% else %}
			<!-- Follow and Message links -->
			{% if not show_profile in user.userprofile.following.all %}
				<form action = "{% url 'follow_UserProfile' %}" method="post" style="display:inline-block;">
					{% csrf_token %}
					<input type="hidden" name = "target_userprofile_id" value="{{ show_profile.id }}"/>
					<input class="epm_button" style="margin:0px;" type="Submit" value="Follow"/>
				</form>
			{% else %}
				<form action = "{% url 'unfollow_UserProfile' %}" method="post" style="display:inline-block;">
					{% csrf_token %}
					<input type="hidden" name = "target_userprofile_id" value="{{ show_profile.id }}"/>						
					<input class="epm_button" style="margin:0px;" type="Submit" value="Unfollow"/>
				</form>
			{% endif %}
				<button id="userprof_msg_user" class="epm_button" style="margin:0px; display:inline-block;">Send a Message </button>
			{% endifequal %}
			</div>				
		</div>

		<!-- Message a UserProfile -->
		<div id="message_user_form" style="display:none; width:600px; height:200px; margin-top:20px; margin-left:auto; margin-right:auto;">
			<strong id="message_user_form_helptext" style="display:none; text-align:center;"> Messaging will send an email to this user while keeping email addresses private. </strong>
			<form style = "padding: 2px;" action="{% url 'message_UserProfile' %}" method="post">
				{% csrf_token %}
				<textarea name="message" style="height:150px; width:500px; resize:none;"></textarea>
				<input type="hidden" name = "target_userprofile_id" value="{{ show_profile.id }}"/>
				<input type="submit" class="epm_button" style="width:70px; height:40px;" value="Send"/> 
			</form>
		</div>	

	</div>

	<!-- Nice-looking horizontal break -->
	<hr size="10" width="100%" color="white"/>

	<!-- Following/Follower Section -->
	{% if following_list %}
	<!-- Following list -->
	<h3 style="text-align:center;">Following</h3>
	<div class="pet_thumb_container" style="width:900px; margin-left:auto; margin-right:auto;">   
		{% for following in show_profile.following.all %}
		<div class="user_thumb">
			<a href="{% url 'get_UserProfile_page' following.id %}"
				style="text-decoration:none; color:black; font-size:12px;}"
				title="{% if following.user.first_name %} {{ following.user.first_name }} {% endif %}@{{ following.user.username }}">
				<strong style="text-align:center; display:block;"> {{ following.user.username }} </strong>
				<img src="{{ STATIC_URL }}{{ following.img_path }}"/>
			</a>
		</div>
		{% endfor %}
	</div>	
	{% endif %}						

	{% if followers_list %}
	<!-- Follower list -->
	<h3 style="text-align:center;">Following You</h3>
	<div class="pet_thumb_container" style="width:900px; margin-left:auto; margin-right:auto;">    	
		{% for follower in show_profile.followers.all %}
		<div class="user_thumb">	
			<a href="{% url 'get_UserProfile_page' follower.id %}"
			   	style="text-decoration:none; color:black; font-size:12px;}"
			   	title="{% if follower.user.first_name %} {{ follower.user.first_name }} {% endif %}@{{ follower.user.username }}">
			   	<strong style="text-align:center; display:block;"> {{ follower.user.username }} </strong>
				<img src="{{ STATIC_URL }}{{ follower.img_path }}"/>
			</a>			
		</div>
		{% endfor %}
	</div>
	{% endif %}																		

	<!-- Submitted Pet Reports -->
	{% if proposed_petreports %}
	<h3 style="text-align:center;">Submitted Pet Reports</h3>
    <div class="pet_thumb_container" style="width:900px; margin-left:auto; margin-right:auto;">	
		{% for pet_report in show_profile.proposed_related.all %}
		<div class="prdp_thumb">
			<a link= "{% url 'get_PetReport' pet_report.id %}" name = "{{ pet_report.pet_name }}"
				style="text-decoration:none; color:black; font-size:12px;" 
				title="{% if pet_report.pet_name %}{{ pet_report.pet_name }}: {% endif %}{{ pet_report.status }} {{ pet_report.pet_type }}">
				<strong style="text-align:center; display:block; height:15px;">{{ pet_report.pet_name }}</strong>
				<img src="{{ STATIC_URL }}{{ pet_report.thumb_path }}"/>
			</a>
		</div>
		{% endfor %}
	</div>	
	{% endif %}
	
	<!-- Proposed Pet Matches -->	
	{% if proposed_petmatches %}		
	<h3 style="text-align:center;"> Proposed Pet Matches</h3>
	<div class="pet_thumb_container" style="width:900px; margin-left:auto; margin-right:auto;">         
		{% for pet_match in show_profile.proposed_by_related.all %}	
			<div class="pmdp_thumb">
	            <a link = "{% url 'get_PetMatch' pet_match.id %}" name = "{{ pet_match.found_pet.pet_name }} with {{ pet_match.lost_pet.pet_name }}"
	            	style="text-decoration:none; color:#663399; font-size:12px;}"
	           		title="{{ pet_match.lost_pet.pet_name }}: Lost {{ pet_match.lost_pet.pet_type }} / {{ pet_match.found_pet.pet_name }}: Found {{ pet_match.found_pet.pet_type }}">
					<strong style="text-align:center; display:block;">{{ pet_match.lost_pet.pet_name }} with {{ pet_match.found_pet.pet_name }}</strong>
					<img src="{{ STATIC_URL}}{{ pet_match.lost_pet.img_path }}" width="60" height="60"/>
					<img src="{{ STATIC_URL}}{{ pet_match.found_pet.img_path }}" width="60" height="60"/>
	     	    </a>
     		</div>
    	{% endfor %}
	</div>
	{% endif %}				
</div>
{% endblock content %}

