{% extends "home/index.html" %}
{% block js %}{% endblock js %}

{% block head_title %} EPM - Error {% endblock head_title %}
{% block activity_feed %}{% endblock activity_feed %}

{% block content %}
<div id="content" style="padding:10px 10px 10px 10px; margin-top:20px; border:2px solid gray; width:600px; background-color: #E8E8E8">
	<h2 style="text-align:center; font-size:32px;"> Oops! Wrong link </h2>
	<h3 style="margin: 30px auto 20px auto; text-align:center; font-size:20px;">Sorry, the URL you requested does not exist! Click on the "Home" button or the EPM logo at the top to return to the home page.</h3>
</div>
{% endblock content %}
