{% extends 'base.html' %}
{% load url from future %}

{% block info_message %}
	{% if info_message %} <h3> {{ info_message }} </h3> {% endif %}
{% endblock info_message %}

{% block pet_reports_content %}
	{% if pet_reports_list %}
	    {% for pet_report in pet_reports_list %}
	    	{% if pet_report.img_path %}
				<li class="item"> <img src="{{ STATIC_URL }}{{ pet_report.img_path }}"/></li>
			{% else %}
				<li class="item"> 
					{% if pet_report.status %}
						Lost : 
					{% else %}
						Found : 
					{% endif %}
					{{ pet_report.pet_type }}
					<br />
					Contact : To be Updated
					{% ifequal pet_report.pet_type "Dog" %}
						<img src="{{ STATIC_URL }}/images/dog-sil.jpg"/>
					{% endifequal %}
					{% ifequal pet_report.pet_type "Cat" %}
						<img src="{{ STATIC_URL }}/images/cat-sil.png"/>
					{% endifequal %}
					{% ifequal pet_report.pet_type "None" %}
						NOTHING
					{% endifequal %}
					{% ifequal pet_report.pet_type "Other" %}
						OTHER
					{% endifequal %}
				</li>
			{% endif %}
		{% endfor %}	
		<div class="pagination" align="left">
   			<span class="step-links" id="footer">
        		{% if pet_reports_list.has_previous %}
           			<a href="?page={{ pet_reports_list.previous_page_number }}">previous</a>
        		{% endif %}

       		<span class="current" id="footer">
            	Page {{ pet_reports_list.number }} of {{ pet_reports_list.paginator.num_pages }}.
        </span>

        {% if pet_reports_list.has_next %}
            <a href="?page={{ pet_reports_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
	{% else %}
	    <p>No pet reports are available.</p>
	{% endif %}
{% endblock pet_reports_content %}