{% extends 'home/index.html' %}
{% load staticfiles %}

{% block js %}
	<script src = {% static "home/js/epm-about.js" %} type='text/javascript'></script>
{% endblock js %}

{% block head_title %}EPM - About{% endblock head_title %}
{% block activity_feed %}{% endblock activity_feed %}	

{% block content %}
{% block messages %}{% endblock messages %}
<div id="content" style="width:900px;">

	{% if petreports %}
	<div id="about_pets">
		{% for pet_report in petreports %}
				<img style="width:50px; height:50px; border:1px solid black;"src="{{ MEDIA_URL }}{{ pet_report.thumb_path }}"/>
		{% endfor %}
	</div>
	{% endif %}	

	<div style="margin:15px; padding:10px;" id ="about_desc">
		<h3>Welcome to EmergencyPetMatcher, digital volunteer! </h3>
		<p class="about_p"> EPM is a web site focused on bringing volunteers to report, match, and verify lost and found pets, especially those misplaced by their owners during disaster events. Pets are important household members, and their displacement affects the emotional welfare of families. During the 2005 Hurricane Katrina, for example, estimates have shown that 70,000 pets were misplaced from their owners, and only around 2% of them were reunited. </p>

		<p class="about_p">The EPM team will be constantly engineering, testing, and fine-tuning the system so that it is easy to use and valuable for reuniting pets with their owners. On behalf of all of us at the Project EPIC (Empowering the Public with Information in Crisis) team at the University of Colorado at Boulder, thank you for your contributions!</p>

		<hr/>
		<p class="about_p"> Please fill out a general feedback form about your experience using EmergencyPetMatcher <a href="https://docs.google.com/spreadsheet/viewform?formkey=dG9XTzRzNlB3Nl9KWGRMb2Jnd2tObnc6MQ#gid=0">here</a>.</p>
		<p class="about_p">Inquiries are welcome <a href="mailto:emergencypetmatcher-support@googlegroups.com">here</a>.</p>	
	</div>

	<div style="text-align:center; margin-bottom:10px;">
		<h4> Download Consent Forms </h4>
		<a style="margin:0px 15px;" href="{{ MEDIA_URL }}EPM-adult-consent-form.pdf"> Adult consent form </a>
		<a style="margin:0px 15px;" href="{{ MEDIA_URL }}EPM-child-assent-form.pdf"> Minor consent form </a>
		<a style="margin:0px 15px;" href="{{ MEDIA_URL }}EPM-parent-consent-form.pdf"> Parent consent form </a>
	</div>	

	<div style="margin-bottom:10px; text-align:center;">
		<img src="{{ MEDIA_URL }}epic.jpg" style="height:50px;"/>
		<img src="{{ MEDIA_URL }}cu-logo.jpg" style="height:50px"/>
		<img src="{{ MEDIA_URL }}nsf.jpg" style="height:50px"/>
	</div>	

</div>
{% endblock content %}