<!DOCTYPE html>
<html content="text/html" xmlns="http://www.w3.org/1999/xhtml" lang = "en">
	<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
	<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
	<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
	<!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
	<head>
		<meta charset='utf-8' http-equiv="content-type" content="text/html" />
		<title>{% block head_title %} EmergencyPetMatcher{% endblock head_title %}</title>
		<meta name="keywords" content="pet-family reunification, emergency, research, software engineering, disaster, CU Boulder"/>
		<meta name="description" content="" />
		<meta property="og:title" content="EmergencyPetMatcher" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.emergencypetmatcher.com" />
		<meta property="og:description" content="EmergencyPetMatcher is a crowdsourcing website designed to help pet advocates and lovers report, match, and verify lost and found pets during and after disaster events." />		
		<meta property="og:image" content="http://media.dunkedcdn.com/assets/prod/94495/950x0_p19io3jktk13v8lqg1la01t4ocv63.jpg" />		
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="400" />
		<meta property="og:image:height" content="300" />
		<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}favicon.ico"/>

		{% load pipeline %}
		{% load staticfiles %}
		{% javascript 'vendor' %}
		{% stylesheet 'vendor' %}

		<!-- Include Global EPM Static files -->
		<link rel="stylesheet" href={% static "home/css/epm-global.css" %} type="text/css"></link>
		<script src = {% static "home/js/epm-global.js" %} type='text/javascript'></script>

		{% block css %}{% endblock css %}
		{% block js %}{% endblock js %}
	</head>	

	<body id="epm-body">
		{% block container %}

			{% block messages %}
			  <ul id="messages">
			    {% for message in messages %}
			    	{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			    		<div class="alert alert-danger epm-alert hidden" role="alert">
			    	{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			      	<div class="alert alert-success epm-alert hidden" role="alert">
			      {% else %}
			      	<div class="alert alert-info epm-alert hidden" role="alert">
			      {% endif %}
			        {{ message }}
			     	 </div>
			    {% endfor %}
			  </ul>
			{% endblock messages %}  

			<div id="epm-container" class="container-fluid">
				<!-- Navigation Menu -->
				{% block nav %} 
					<nav id="epm-nav" role="navigation" class="navbar navbar-inverse navbar-fixed-top">
						<div class="container">
							<ul class="nav navbar-nav navbar-left">
								<li><div id="epm-brand">
									<a id="epm-brand-title" class="navbar-brand" href="{% url 'home' %}">Emergency<b>PetMatcher</b></a>
									<a id="epm-brand-epic-title" href="http://epic.cs.colorado.edu">Project EPIC</a>
								</div></li>
							</ul>

							{% block nav-choices %}
							<ul id="epm-nav-links" class="nav navbar-nav navbar-right">
								<li class="nav-link-home" style="padding-top:5px;"><a href="/">Home</a></li>
								{% if user.is_authenticated %}
							    <li class="nav-link-profile" style="padding-top:5px;">
							    	<img id ="epm-nav-user-thumb" src="{{ MEDIA_URL }}/{{ user.userprofile.thumb_path }}"/>
							    	<a role="menuitem" style="display:inline-block;" href="{% url 'get_UserProfile_page' user.userprofile.id %}">{{ user.username }}</a>
							    </li>
									<li class="nav-link-pet" style="padding-top:5px;"><a href= "{% url 'submit' %}">New Pet Report</a></li>
								{% else %}
									<li class="nav-link-login" style="padding-top:5px;" ><a href= "{% url 'login_User' %}?next={% firstof request.path '/' %}">Login/Register</a></li>
								{% endif %}						
								<li class="nav-link-about" style="padding-top:5px;"><a href="{% url 'about' %}">About</a></li>
								{% if user.is_authenticated %}
							    <li class="nav-link-logout" style='padding-top:5px;'>
							    	<a role="menuitem" href="{% url 'logout_User' %}">Logout</a>
							    </li>						    					
							  {% endif %}						
							</ul>
							{% endblock nav-choices %}
						</div>
					</nav>				
				{% endblock nav %}									          	
				
				{% block content %}			
				{% endblock content %}
				
				<footer>&copy;2012-2015 <a href="http://epic.cs.colorado.edu">Project EPIC</a>. All Rights Reserved.</footer>			
			</div>
		{% endblock container %}
	</body>
</html>
