{% extends 'home/base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href={% static "home/css/style.css" %} type="text/css"></link>
{% endblock css %}

{% block js %}
  <script src = {% static "home/js/epm-base.js" %} type='text/javascript'></script>
  <script type="text/javascript">
    var STATIC_URL = "{{ STATIC_URL }}";
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var USER_ID = "{{ user.id }}";
    var BREED = "{{ breed }}";
  </script>
{% endblock js %}

{% block content %}
<div id="content" style="width:1200px;">
  {% block content_title %}{% endblock content_title %}
  {% block content_subtitle %}{% endblock content_subtitle %}

  <!-- Tile Choices -->
  <ul id="epm-choices" class="nav nav-tabs nav-justified">
    <li id="epm-choices-petreports" class="active"><a href="#pets" role="tab"><b>Unmatched Pets</b></a></li>
    <li id="epm-choices-petmatches"><a href="#petmatches" role="tab"><b>Proposed Pet Matches</b></a></li>
    <li id="epm-choices-reunited-pets"><a href="#reunited-pets" role="tab"><b>Reunited Pets</b></a></li>
    <li id="epm-choices-activity"><a href="#activity" role="tab"><b>Activity</b></a></li>
    <!-- <li id="epm-choices-map"><a href="#map" role="tab"><b>Map</b></a></li> -->
    {% if user.is_authenticated %}
      <li id="epm-choices-bookmarked"><a href="#bookmarked" role="tab"><b>Bookmarked</b></a></li>
    {% endif %}
  </ul>

  <!-- Tile Container-->
  <div id="epm-tiles-container">
    <span class="tab-subtitle"></span>
    

    <!-- Pet Report Filter form -->
    <div id="pet-report-filter-form">
        {% if pet_name %}
          <input id="filter-pet-name" type="text" class="pet-filter form-control" value="{{ pet_name }}" style="width:175px;"/>
        {% else %}
          <input id="filter-pet-name" type="text" class="pet-filter form-control" placeholder="Search by name..." style="width:175px;"/>
        {% endif %}
      <select id='filter-status' class="pet-filter form-control" style="width:100px;">
        {% if status %}
          <option selected>{{ status }}</option>
        {% else %}
          <option disabled selected>Status</option>
        {% endif %}
        <option>Lost</option>
        <option>Found</option>
        <option>All</option>
      </select>
      <select id="filter-event-tag" class="pet-filter form-control" style="width:200px;" placeholder="Event Tag">
        {% if event_tag %}
          <option selected>{{ event_tag }}</option>
        {% else %}
          <option disabled selected>Event Tag</option>
        {% endif %}
          <option>All</option>
      </select>
      <select id="filter-pet-type" class='pet-filter form-control' style='width:120px;'>
        {% if pet_type %}
          <option selected>{{ pet_type }}</option>
        {% else %}
          <option disabled selected>Pet Type</option>
        {% endif %}
        <option>Dog</option>
        <option>Cat</option>
        <option>Horse</option>
        <option>Bird</option>
        <option>Snake</option>
        <option>Rabbit</option>
        <option>Turtle</option>
        <option>All</option>
        <option>Other</option>
      </select>
      <select id="filter-breed" class="pet-filter breed-filter form-control" style="width:250px;" placeholder="Pet Breed">
        {% if breed %}
          <option selected>{{ breed }}</option>
        {% else %}
          <option disabled selected>Breed</option>
        {% endif %}
      </select>
      <button id="filter-submit" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      <button id="filter-clear" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-refresh"></i></button>
    </div>

    <!-- Loading GIF -->
    <span id="tiles-wait"><img src="{% static 'home/icons/loading.gif' %}"/></span>

    <!-- Pet Tiles -->
    <ul id="tiles"></ul>
  </div>
</div>
{% endblock content %}
