#userprofile-dashboard {
	margin: 10px auto;
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
	padding:5px 0px;	
}

#userprofile-dashboard-info {
	display:inline-block;
	margin-left:10px;
	vertical-align:top;
}

#userprofile-dashboard-actions {
	
}

#user-info-table {
	height:260px;
	display:inline-block;
}

#user-info-table .user-info-header {
	font-family:epm-font-bolder;
	display:inline-block;
	width:180px;
	font-weight:bold;
	text-align: right;
}

#user-info-table .user-info-data {
	display:inline-block;
	width:250px;
	text-align: left;
}


.userprofile-thumb-container {
	margin:10px auto 30px auto;
	min-width: 200px;
	border-bottom:1px solid lightgray;
	/*height: 125px;*/
	overflow: auto;
	overflow-y:hidden;
	white-space: nowrap;	
}

.edit-userprofile-form {
	margin-bottom:30px;
}

.userprofile-thumb {
	height:70px;
}

.userprofile-img-wrapper {
	display:inline-block;
}

.userprofile-img-wrapper img {
	height:260px;
	width:240px;
}


#userprofile-message-form {
	display:none; 
	padding:2px; 
	margin-top:20px; 
	margin-left:auto; 
	margin-right:auto;
}

#userprofile-message-form textarea {
	height:100px; 
	resize:none;
	margin-bottom:10px;
}