{% extends "home/index.html" %}

{% block head_title %} EPM - Password Confirmation {% endblock head_title %}
{% block activity_feed %}{% endblock activity_feed %}

{% block content %}
<div id="content" style="padding:10px; border:2px solid gray; width:400px; background-color: #E8E8E8">
	{% block content_title %} <h2> Please put in your new password below.</h2>{% endblock content_title %}
	<form action = "" method = "post">
		{% csrf_token %}
		<table>
			{% for field in form %}
			<tr>
				{{ field.errors }}
		    	<td><strong>{{ field.label_tag }} </strong></td>
		    	<td style="margin-left:10px; display:inline-block;">{{ field }}</td>
			</tr>
			{% endfor %}
		</table>
 		<br><input type="submit" class="epm_button" value="Send" /></br>
	</form>
</div>
{% endblock content %}